@import '../../../styles';
.card-avatar{
    position: relative;
    height: 500px;
   & .avatar{
        width: 100px;
        height: 100px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    } 
    & .text-nombre{
        font-size: .9em;
        font-family: map-get($fonts,monse);
        color:map-get($colors ,gris4);
    }
    & .text-usuario{
        font-size: 0.8rem;
        font-family: map-get($fonts,monse);
        color:map-get($colors ,girsmenu);
    }
    & .cont-button_modif{
        position: absolute;
        bottom: 1rem;
    }
    & .cont-qr{
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        bottom: 4rem;
    }
}
.card-datos{
    & .avatar{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        flex-shrink: 0;
        object-fit: cover;
    } 
}