@import '../../../styles';
.card{
    padding: 0px !important;
    border-radius:0px !important;
    & .card-header{
      font-family: map-get($fonts,monse);
      border-radius:0px !important;
    }
    & .card-footer{
      font-family: map-get($fonts,monse);
      border-radius:0px !important;
      background: #fff;
    }
    & .card-body{
      &.lista{
        padding:0px !important; 
        & .list-group{
          border-radius:0px !important;
          border-color:transparent !important; 
          & .list-group-item{
            border-radius:0px !important;
            border-bottom:1px solid  rgba(map-get($gamagrises,gris3),0.5);
          }
        }
      }
    }
    &.contenedor{
      border-radius:0px !important;
       border:1px solid rgba(map-get($gamagrises,gris3),0.5) !important;
       & .card-body{
        background: map-get($colors,blanco);
       }
    }
  }
  .cont-precios{
	padding-top:5rem;
	padding-bottom: 5rem;
	& .card{

		& .card-body{
			background: transparent;
			& .card-precio{
				width: 100%;
				display: block;
				font-size: 2rem;
				font-family: map-get($fonts,sans-pro);
			}
			& .list-group{
				& .list-group-item{
					font-family: map-get($fonts,sans-pro);
				   font-size: 15px;
				   color:map-get($gamagrises,gris3);
				}
			}
		}
		& .card-footter{
			padding-top:1rem;
			padding-bottom: 1rem;
		}
	}
}