<mat-horizontal-stepper #stepper>
    <mat-step>
        <ng-template matStepLabel>Planes</ng-template>
        <div class="container-fluid bg-primary  cont-precios" id="precios">
            <div class="row">
              <div class="col-12 text-center m-b-40">
                <h4 class="text-white text-uppercase text-prosto">Precios Qval</h4>
              </div>
            </div>
            <div class="row d-flex justify-content-center">
              <div class="col-12 col-md-4 col-xl-4 col-lg-4  m-b-20">
                <div class="card">
                  <div class="card-body ">
                    <div class="card-precio text-white p-t-20 p-b-20 bg-orange text-center">
                      MENSUAL
                    </div>
                    <ul class="list-group">
                      <li class="list-group-item">Número ilimitado de clientes y proveedores </li>
                      <li class="list-group-item">Customización de accesos a usuarios                </li>
                      <li class="list-group-item">App Móvil </li>
                      <li class="list-group-item">Integración con admyo.com</li>
                      <li class="list-group-item">Customización de cuestionarios, preguntas y respuestas                </li>
                      <li class="list-group-item">Customización de apariencia de la aplicación
                        </li>
                      <li class="list-group-item">Costo $3000.00 10 PRIMERAS LICENCIAS OBLIGATORIAS. 100 MXN a partir de la 11ª  </li>
                      <li class="list-group-item">Costo Mensual
                      </li>
                    </ul>
                  </div>
                  <div class="card-footter text-center">
                    <button (click)="select_plan('0')" class="btn btn-primary">Seleccionar</button>
                  </div>
                  
                </div>
              </div>
              <div class="col-12 col-md-4 col-xl-4 col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <div class="card-precio text-white text-uppercase p-t-20 p-b-20 bg-danger text-center">
                      Anual
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Número ilimitado de clientes y proveedores </li>
                        <li class="list-group-item">Customización de accesos a usuarios                </li>
                        <li class="list-group-item">App Móvil </li>
                        <li class="list-group-item">Integración con admyo.com</li>
                        <li class="list-group-item">Customización de cuestionarios, preguntas y respuestas                </li>
                        <li class="list-group-item">Customización de apariencia de la aplicación
                          </li>
                        <li class="list-group-item">Costo $30,000.00 10 PRIMERAS LICENCIAS OBLIGATORIAS. 1000 MXN a partir de la 11ª  </li>
                        <li class="list-group-item">2 Meses de Regalo</li>
                      </ul>
                  <div class="card-footter text-center">
                    <button (click)="select_plan('1')" class="btn btn-primary">Seleccionar</button>
                  </div>
                </div>
              </div>
            
            </div>
          </div>
          </div>
    </mat-step>
    <mat-step>  
    <ng-template matStepLabel>Detalles de facturación</ng-template>
    <div class="container">
      <div class="row">
        <div class="col-7 card text-monse">
          <div class="card-header bg-primary text-white">Datos del Representante</div>
          <div class="row card-body">
            <mat-form-field class="col-6">
                <input [(ngModel)]="datos_pago.nombre" name="nombre" matInput placeholder="Nombre *" value="">
            </mat-form-field>
            <mat-form-field class="col-6">
                <input [(ngModel)]="datos_pago.apellidos" name="apellidos" matInput placeholder="Apellidos *" value="">
            </mat-form-field>
            <mat-form-field class="col-6">
                <input [(ngModel)]="datos_pago.correo" name="correo" matInput placeholder="Correo Electrónico *" value="">
            </mat-form-field>
            <mat-form-field class="col-6">
                <input [(ngModel)]="datos_pago.repetircorreo" name="repetir_correo" matInput placeholder="Repetir Correo Electrónico *" value="">
            </mat-form-field>
            <mat-form-field class="col-6">
                <input [(ngModel)]="datos_pago.telefono" name="tel" matInput placeholder="Teléfono Fijo" value="">
            </mat-form-field>
            <mat-form-field class="col-6">
                <input [(ngModel)]="datos_pago.movil" name="movil" matInput placeholder="Teléfono Móvil *" value="">
            </mat-form-field>
            <div class="col-12 m-t-20"><h5>Datos de la empresa</h5></div>
            <mat-form-field class="col-12">
                <input [(ngModel)]="datos_pago.razonsocial" name="razon_social" matInput placeholder="Razón Social *" value="">
            </mat-form-field>
            <mat-form-field class="col-6">
                <input [(ngModel)]="datos_pago.nombrecomercial" name="nombre_comercial" matInput placeholder="Nombre Comercial" value="">
            </mat-form-field>
            <mat-form-field class="col-6">
                <input [(ngModel)]="datos_pago.rfc" name="rfc" matInput placeholder="R.F.C." value="">
            </mat-form-field>
            <mat-form-field class="col-6">
                <mat-label>No de Empleados</mat-label>
                <mat-select name="noempleados" [(ngModel)]="datos_pago.noempleados" >
                  <mat-option [value]="tipos.Empleados" *ngFor='let tipos of noempleados' >
                   {{tipos.Empleados}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-6">
                <mat-label>Tipo de Empresa</mat-label>
                <mat-select value name="tipoempresa" [(ngModel)]="datos_pago.TipoEmpresa">
                    <mat-option [value]="tipos.TipoEmpresa"  *ngFor='let tipos of tipo_empresa' >
                     {{tipos.TipoEmpresa}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-5">
            <div class="card">
              <div class="card-header bg-primary text-white">
                Descripciòn de Venta
              </div>
              <div class="card-body">
                <div class="container-fluid">
                  <div class="row">
                      <mat-form-field class="col-2">
                          <input (keyup)="cambio_cant()" matInput placeholder="No Lic" [(ngModel)]="numero_de_lic">
                      </mat-form-field>
                    <div class="col-6">
                      {{(datos_pago.plan==="0")?'Subscripción Mensual':'Subscripción Anual'}}
                       
                    </div>
                    <div class="col-4 text-right">
                      {{total_pago | currency}}
                    </div>
                   
                  
      
                    <div class="col-12 ray m-t-20">
                      
                    </div>
                    <div class="col-8  text-right m-t-20">
                      Total a Pagar
                    </div>
                    <div class="col-4 text-right m-t-20">
                      <strong class="text-primary">{{total_pago | currency}}</strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row m-t-40">
              <div class="col-6 text-left">
                <button (click)="next_0()" class="btn btn-danger">Cambiar Plan</button>
              </div>
              <div class="col-6 text-right">
                <button (click)="next_1()" class="btn btn-secondary">Siguiente</button>
              </div>
              <div class="col-12 m-t-20">
                <small class="text-muted">Nota: Todos los campos marcados con * son necesarios para el registro.</small>
              </div>
            </div>
      
          </div>
      </div>
    </div>
    </mat-step>
    <mat-step>
    <ng-template matStepLabel>Método de pago</ng-template>
      <div class="container">
        <div class="row ">
          <div class="col-7 ">
            <div class="row">
              <div class="col-12 card">
                  <div class="card-header bg-primary">
                      Medios de pago del apartado
                  </div>
                  <div class="card-body">
                      <div class="row">
                          <mat-accordion class="col-12">
                              <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                  <mat-panel-title>
                                    Tarjeta de crédito o débito
                                  </mat-panel-title>
                                </mat-expansion-panel-header>
                            <div class="row">
                                <mat-form-field class="col-6">
                                    <input [(ngModel)]="model_pago_tarjeta.nombre"   matInput placeholder="Nombre " value="">
                                </mat-form-field>
                                <mat-form-field class="col-6">
                                    <input [(ngModel)]="model_pago_tarjeta.apellidos" matInput placeholder="Apellidos">
                                </mat-form-field>
                                <mat-form-field class="col-6">
                                    <input [(ngModel)]="model_pago_tarjeta.correo" matInput placeholder="Correo Electronico">
                                </mat-form-field>
                                <mat-form-field class="col-6">
                                    <input [(ngModel)]="model_pago_tarjeta.telefono" matInput placeholder="Telèfono">
                                </mat-form-field>
                                <div class="col-12 m-t-20">
                                  Datos de la tarjeta
                                </div>
                                <mat-form-field class="col-6">
                                    <input matInput [(ngModel)]="model_pago_tarjeta.numero" placeholder="Numero de Tarjeta(16 Digitos) " value="">
                                </mat-form-field>
                                <mat-form-field pattern="^[0-9]+$"  class="col-2">
                                    <input [(ngModel)]="model_pago_tarjeta.cvv"  matTooltip="Últimos 3 números en el reverso de tu tarjeta" matInput placeholder="CVV">
                                </mat-form-field>
                                <mat-form-field class="col-2">
                                    <input matInput [(ngModel)]="model_pago_tarjeta.mes" placeholder="Mes">
                                </mat-form-field>
                                <mat-form-field class="col-2">
                                    <input matInput [(ngModel)]="model_pago_tarjeta.anio" placeholder="Año">
                                </mat-form-field>
                                <div class="col-12 text-right m-t-20">
                                  <button class="btn btn-succes" (click)="pago_tarjeta()">Pagar</button>
                                </div>
                            </div>                      
                                
                              </mat-expansion-panel>
                          </mat-accordion>
                      </div>     
                    </div>
              </div>
            </div>
              
              
          </div>
          <div class="col-5 ">
            <div class="row">
              <div class="col-12 card">
                  <div class="card-header bg-primary text-white">
                      Descripciòn de Venta
                    </div>
                    <div class="card-body">
                      <div class="container-fluid">
                        <div class="row">
                            <mat-form-field class="col-2">
                                <input (keyup)="cambio_cant()" matInput placeholder="No Lic" [(ngModel)]="numero_de_lic">
                            </mat-form-field>
                          <div class="col-6">
                            {{(datos_pago.plan==="0")?'Subscripción Mensual':'Subscripción Anual'}}
                             
                          </div>
                          <div class="col-4 text-right">
                            {{total_pago | currency}}
                          </div>
                         
                        
            
                          <div class="col-12 ray m-t-20">
                            
                          </div>
                          <div class="col-8  text-right m-t-20">
                            Total a Pagar
                          </div>
                          <div class="col-4 text-right m-t-20">
                            <strong class="text-primary">{{total_pago | currency}}</strong>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
             
          </div>
         
          
           
        </div>
      </div>
    </mat-step>
    
</mat-horizontal-stepper>
<div *ngIf="spiner" class="spinner">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
</div>