<div class="container">
  <div class="row m-t-30">
    <mat-form-field class="col-6">
      <mat-label>Cuestionarios</mat-label>
        <mat-select>
          <mat-option>Selecciona</mat-option>
          <mat-option value="option1">Option 1</mat-option>
        </mat-select>
    </mat-form-field>
    
  </div>
  <div class="row">
    <div class="col-3">
      <mat-card class="w-100">
        <mat-card-header>
            <mat-card-subtitle class="text-center" > ¿Como Te llamas?</mat-card-subtitle> 
        </mat-card-header>
        <mat-card-content>
          <p>
            <small>Cuestionario:</small>
          </p>
          <p>
             <small>Usuario Receptor:</small>
          </p>
          <p>
             <small>Fecha Notificación:</small>
          </p>
          <mat-divider></mat-divider>
          <p class="m-t-20">
              <small>Pregunta Notificació:</small>
          </p>
          <p>
              <small>Respuesta Notificació:</small>
          </p>
        </mat-card-content>
        <mat-card-actions>
            <div class="btn-group text-center" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary mr-3" >Ver Cuestionario</button>
                <button type="button" class="btn btn-danger">Borrar</button>
                
              </div>
          </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-3">
        <mat-card class="w-100">
          <mat-card-header>
              <mat-card-subtitle class="text-center" > ¿Como Te llamas?</mat-card-subtitle> 
          </mat-card-header>
          <mat-card-content>
            <p>
              <small>Cuestionario:</small>
            </p>
            <p>
               <small>Usuario Receptor:</small>
            </p>
            <p>
               <small>Fecha Notificación:</small>
            </p>
            <mat-divider></mat-divider>
            <p class="m-t-20">
                <small>Pregunta Notificació:</small>
            </p>
            <p>
                <small>Respuesta Notificació:</small>
            </p>
          </mat-card-content>
          <mat-card-actions>
              <div class="btn-group text-center" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-primary mr-3" >Ver Cuestionario</button>
                  <button type="button" class="btn btn-danger">Borrar</button>
                  
                </div>
            </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-3">
          <mat-card class="w-100">
            <mat-card-header>
                <mat-card-subtitle class="text-center" > ¿Como Te llamas?</mat-card-subtitle> 
            </mat-card-header>
            <mat-card-content>
              <p>
                <small>Cuestionario:</small>
              </p>
              <p>
                 <small>Usuario Receptor:</small>
              </p>
              <p>
                 <small>Fecha Notificación:</small>
              </p>
              <mat-divider></mat-divider>
              <p class="m-t-20">
                  <small>Pregunta Notificació:</small>
              </p>
              <p>
                  <small>Respuesta Notificació:</small>
              </p>
            </mat-card-content>
            <mat-card-actions>
                <div class="btn-group text-center" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary mr-3" >Ver Cuestionario</button>
                    <button type="button" class="btn btn-danger">Borrar</button>
                    
                  </div>
              </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-3">
            <mat-card class="w-100">
              <mat-card-header>
                  <mat-card-subtitle class="text-center" > ¿Como Te llamas?</mat-card-subtitle> 
              </mat-card-header>
              <mat-card-content>
                <p>
                  <small>Cuestionario:</small>
                </p>
                <p>
                   <small>Usuario Receptor:</small>
                </p>
                <p>
                   <small>Fecha Notificación:</small>
                </p>
                <mat-divider></mat-divider>
                <p class="m-t-20">
                    <small>Pregunta Notificació:</small>
                </p>
                <p>
                    <small>Respuesta Notificació:</small>
                </p>
              </mat-card-content>
              <mat-card-actions>
                  <div class="btn-group text-center" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-primary mr-3" >Ver Cuestionario</button>
                      <button type="button" class="btn btn-danger">Borrar</button>
                      
                    </div>
                </mat-card-actions>
            </mat-card>
          </div>
          <div class="col-3">
              <mat-card class="w-100">
                <mat-card-header>
                    <mat-card-subtitle class="text-center" > ¿Como Te llamas?</mat-card-subtitle> 
                </mat-card-header>
                <mat-card-content>
                  <p>
                    <small>Cuestionario:</small>
                  </p>
                  <p>
                     <small>Grupo Receptor:</small>
                  </p>
                  <p>
                     <small>Fecha Notificación:</small>
                  </p>
                  <mat-divider></mat-divider>
                  <p class="m-t-20">
                      <small>Pregunta Notificació:</small>
                  </p>
                  <p>
                      <small>Respuesta Notificació:</small>
                  </p>
                </mat-card-content>
                <mat-card-actions>
                    <div class="btn-group text-center" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary mr-3" >Ver Cuestionario</button>
                        <button type="button" class="btn btn-danger">Borrar</button>
                        
                      </div>
                  </mat-card-actions>
              </mat-card>
            </div>
  </div>
</div>