<div class="container grupos m-t-30">
	<div class="row">
		<div class="col-6 text-rigth">
			<h4>Agregar Reporte</h4>
		</div>
	</div>
</div>
<div class="container-fluid cont-reportes">
	<div class="row">
		<div class="col-3 keys">
			<ngb-accordion #acc="ngbAccordion">
			  <ngb-panel id="toggle-1">
			  	<ng-template class="list-keys" ngbPanelTitle>
			      <span>Herrmientas</span>
			    </ng-template>
			    <ng-template ngbPanelContent>
			     	<ul class="list-group">
					  <li class="list-group-item">Texto</li>
					  <li class="list-group-item">Cuadrado</li>
					  <li class="list-group-item">linea</li>
					  <li class="list-group-item">Circulo</li>
					  <li class="list-group-item">Imagen</li>
					</ul>
			    </ng-template>
			  </ngb-panel>
			  <ngb-panel id="toggle-2" title="Campos">
			    <ng-template ngbPanelContent>
			     
			    </ng-template>
			  </ngb-panel>
			</ngb-accordion>
		</div>
		
	</div>
</div>