<div class="container grupos m-t-30">
  <div class="row d-flex align-items-center">
    <div class="col-9">
      <h4>Resumen de Cuestionarios</h4>
    </div>
    
      <div class="col-3">
        <div class="form-group">
          <label for="">Rango de Fecha</label>
            <div class="input-group">
              <input class="form-control"  [(ngModel)]="rangedate" type="text">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="opencalendar(calendar)" type="button"><i class="fas fa-calendar-week"></i></button>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
<div class="container-fluid m-t-30">
  <div class="row">
    <div class="col-9">
        <div class="container-flid">
          <div class="row">           
            <div class="col-12">
              <table class="table table-hover">
                  <thead class="bg-primary text-white">
                    <th scope="col">Pregunta</th>
                    <th scope="col">Respuesta Positiva</th>
                    <th scope="col"># de Respuestas</th>
                    <th scope="col"># de R. Positivas</th>
                    <th scope="col">Acciones</th>
                  </thead>
                  <tbody>
                    <tr  *ngFor="let pregunta of table">
                      <td >{{pregunta.pregunta}}</td>
                      <td >{{pregunta.respuesta}}</td>
                      <td>{{pregunta.vecescontestada}}</td>
                      <td >{{pregunta.numrespuestascorrectas}}</td>
                      <td  ><button  *ngIf="muestabt(pregunta.Forma)" routerLink="/graficapregunta/{{pregunta.IDPreguta}}/{{residcuetion}}/M" mat-mini-fab color="warn" aria-label="Example icon button with a plus one icon">
                        <mat-icon>multiline_chart</mat-icon>
                      </button></td>
                    </tr>
                  <tbody>
              </table>
              <small class="text-muted">Tabla de Resumen del cuestionario.</small>
            </div>
            <div class="col-12 text-right">
              <a target="_blanck" href="https://testqval.admyo.com/server_qval/downloadresumen?fech={{rangedate}}&num={{IDCuestionario}}" class="btn btn-secondary">Descargar .svg</a>
            </div>
            <div class="col-12 m-t-30">
                <div class="d-block grafica">
                    <canvas #grf baseChart
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [options]="lineChartOptions"
                            [colors]="lineChartColors"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                  </div>
                <small class="text-muted m-t-30">Grafica  Resumen del cuestionario veces que fue realizado por día.</small>
            </div>
           
          </div>
        </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-header bg-primary text-white">
            DATOS GENERALES
        </div>
        <div class="card-body list_data">
          <ul class="list-group">
            <li class="list-group-item">
                <small class="text-muted">Nombre</small>
                <br>
                <span class="text-primary d-block text-right">{{detallesresumen[0].Nombre}}</span>
            </li>
            <li class="list-group-item">
              <small class="text-muted">Estatus</small>
              <br>
              <span class="text-primary d-block text-right">{{detallesresumen[0].Status}}</span></li>
            <li class="list-group-item">
                <small class="text-muted">Perfil Emisor</small>
                <br>
                <span class="text-primary d-block text-right">{{detallesresumen[0].Emisor}}</span>
            </li>
            <li class="list-group-item">
                <small class="text-muted">Perfil Receptor</small>
                <br>
                <span class="text-primary d-block text-right">{{detallesresumen[0].Receptor}}</span>
            </li>
            <li class="list-group-item">
                <small class="text-muted">Descripción</small>
                <br>
                <span class="text-muted d-block text-justify">{{detallesresumen[0].leyenda}}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="container-fluid m-t-30">
        <div class="row">
          <div class="col-12 btn btn-success" (click)="getdetallstables(modalerror)">
              <div class="row d-flex justify-content-center align-items-center">
                <div class="col-4 text-white">
                    <h3><i class="fas fa-archive"></i></h3>
                </div> 
                <div class="col-12 text-white text-center">
                  <h5>Detalles de Cuestionario</h5>
                </div> 
              </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #calendar let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Selecciona Fechas</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
          </ngb-datepicker>
          <ng-template #t let-date let-focused="focused">
              <span class="custom-day"
                    [class.focused]="focused"
                    [class.range]="isRange(date)"
                    [class.faded]="isHovered(date) || isInside(date)"
                    (mouseenter)="hoveredDate = date"
                    (mouseleave)="hoveredDate = null">
                {{ date.day }}
              </span>
            </ng-template>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-primary"  (click)="pasedate(calendar)" >Aceptar</button>
    </div>
</ng-template>
<div *ngIf="spiner" class="spinner">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
<ng-template #modalerror let-modal>
 <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
  <div class="modal-body">
        <div class="container-fluid">
          <div class="row d-flex justify-content-center">
            <div class="col-12 text-center p-t-20 p-b-20">
              <h1 class="text-danger"><i class="fas fa-exclamation-triangle"></i></h1>
            </div>
            <div class="col-12 text-center m-b-40">
                <h4>{{msgerror}}</h4>
            </div>
          </div>
        </div>
  </div>
</ng-template>
<ng-template #modeldetalltable let-modal>
    <div class="modal-header">
        <h5>Detalles de Cuestionario</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
           
           
          </div>
        </div>
  </div>
  <div class="modal-footer">
     
  </div>
</ng-template>

<div class="container-fluid fondomodal" *ngIf="cmodaledpreg">
  <div class="container ">
    <div class="row">
      <div class="col-12 card m-auto">
          <div class="row text-monse p-b-20 p-t-20">
              <div class="col-12">
                  <h5>Detalles de Cuestionario</h5>
                </div>
                <mat-divider class="w-100"></mat-divider>
                <div class="col-12">
                    <table class="table table-hover ">
                      <thead class="bg-primary text-white">
                        <th scope="col" class="wpxx-lg">Pregunta</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Emisor</th>
                        <th scope="col">Receptor</th>
                        <th scope="col" class="wpx-200 text-center">Respuesta</th>
                        <th scope="col">Puntos</th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let pregunta of detailstable | paginate: {itemsPerPage: 8, currentPage: pageActual}; index as i">
                          <td scope="col" class="wpxx-lg">{{pregunta.Pregunta}}</td>
                          <td scope="col">{{pregunta.Fecha}}</td>
                          <td scope="col">{{pregunta.Emisor}}</td>
                          <td scope="col">{{pregunta.Receptor}}</td>
                          <td *ngIf="pregunta.Forma=='CARGA'" scope="col" class="wpx-200 text-center"><a target="_blank" href="https://qval.admyo.com/server_app/assets/archivos/{{pregunta.Respuesta}}">{{pregunta.Respuesta}}</a></td>
                          <td *ngIf="pregunta.Forma!=='CARGA'" scope="col" class="wpx-200 text-center">{{pregunta.Respuesta}}</td>
                          <td scope="col">{{pregunta.Puntos}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <pagination-controls class="my-pagination" (pageChange)="pageActual = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                  </div>
                  <div class="col-12 text-right">
                      <div class="btn-group" role="group" aria-label="Basic example">
                          <button type="button" (click)="cmodaledpreg =!cmodaledpreg" class="btn btn-outline-danger mr-3">Cerrar</button>
                          <a target="_blanck" href="https://testqval.admyo.com/server_qval/downloaddetall?fech={{rangedate}}&num={{IDCuestionario}}" class="btn btn-secondary">Descargar .svg</a>
                        </div>
                      
                  </div>

          </div>
      </div>
    </div>
  </div>
</div>