<div class="container grupos m-t-30">
  <div class="row d-flex align-items-center">
    <div class="col-3">
      <h4>Resumen de Cuestionarios</h4>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label for="">Status Cuestionario</label>
          <div class="input-group">  
            <select (change)="getquestyonary()" [(ngModel)]="statusc" class="form-control">
                <option value="" selected>Selecciona</option>
                <option value="1">Activos</option>
                <option value="0">Inactivo</option>
                
            </select>
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
            </div>
          </div>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label for="">Cuestionarios</label>
          <div class="input-group">  
            <select class="form-control" (change)="getresumen()" [(ngModel)]="residcuetion">
                <option value="" selected>Selecciona</option>
                <option value="{{cuest.IDCuestionario}}" *ngFor="let cuest of listcuest">{{cuest.Nombre}}</option>
                
            </select>
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="far fa-list-alt"></i></span>
            </div>
          </div>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
          <label for="">Rango de Fecha</label>
            <div class="input-group">
              <input class="form-control"  [(ngModel)]="rangedate" type="text">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="opencalendar(calendar)" type="button"><i class="fas fa-calendar-week"></i></button>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
<div class="container-fluid m-t-30">
  <div class="row">
    <div class="col-9">
        <div class="container-flid">
          <div class="row">           
            <div class="col-12">
              <table class="table table-hover">
                  <thead class="bg-primary text-white">
                    <th scope="col">Pregunta</th>
                    <th scope="col">Respuesta Positiva</th>
                    <th scope="col"># de Respuestas</th>
                    <th scope="col"># de R. Positivas</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let pregunta of table">
                      <td>{{pregunta.pregunta}}</td>
                      <td>{{pregunta.respuesta}}</td>
                      <td>{{pregunta.vecescontestada}}</td>
                      <td>{{pregunta.numrespuestascorrectas}}</td>
                    </tr>
                  <tbody>
              </table>
              <small class="text-muted">Tabla de Resumen del cuestionario.</small>
            </div>
            <div class="col-12 text-right">
              <a target="_blanck" href="https://admyo.com/serverqval/downloadresumen?fech={{rangedate}}&num={{IDCuestionario}}" class="btn btn-secondary">Descargar .svg</a>
            </div>
            <div class="col-12 m-t-30">
                <div class="d-block grafica">
                    <canvas baseChart
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [options]="lineChartOptions"
                            [colors]="lineChartColors"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                  </div>
                <small class="text-muted m-t-30">Grafica  Resumen del cuestionario veces que fue realizado por día.</small>
            </div>
           
          </div>
        </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-header bg-primary text-white">
            DATOS GENERALES
        </div>
        <div class="card-body list_data">
          <ul class="list-group">
            <li class="list-group-item">
                <small class="text-muted">Nombre</small>
                <br>
                <span class="text-primary d-block text-right">{{detallesresumen[0].Nombre}}</span>
            </li>
            <li class="list-group-item">
              <small class="text-muted">Estatus</small>
              <br>
              <span class="text-primary d-block text-right">{{detallesresumen[0].Status}}</span></li>
            <li class="list-group-item">
                <small class="text-muted">Perfil Emisor</small>
                <br>
                <span class="text-primary d-block text-right">{{detallesresumen[0].Emisor}}</span>
            </li>
            <li class="list-group-item">
                <small class="text-muted">Perfil Receptor</small>
                <br>
                <span class="text-primary d-block text-right">{{detallesresumen[0].Receptor}}</span>
            </li>
            <li class="list-group-item">
                <small class="text-muted">Descripción</small>
                <br>
                <span class="text-muted d-block text-justify">{{detallesresumen[0].leyenda}}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="container-fluid m-t-30">
        <div class="row">
          <div class="col-12 btn btn-success" (click)="getdetallstables(modalerror,modeldetalltable)">
              <div class="row d-flex justify-content-center align-items-center">
                <div class="col-4 text-white">
                    <h3><i class="fas fa-archive"></i></h3>
                </div> 
                <div class="col-12 text-white text-center">
                  <h5>Detalles de Cuestionario</h5>
                </div> 
              </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #calendar let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Selecciona Fechas</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
          </ngb-datepicker>
          <ng-template #t let-date let-focused="focused">
              <span class="custom-day"
                    [class.focused]="focused"
                    [class.range]="isRange(date)"
                    [class.faded]="isHovered(date) || isInside(date)"
                    (mouseenter)="hoveredDate = date"
                    (mouseleave)="hoveredDate = null">
                {{ date.day }}
              </span>
            </ng-template>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-primary"  (click)="pasedate(calendar)" >Aceptar</button>
    </div>
</ng-template>
<ngx-spinner class="spiner"  bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-clip-rotate-multiple">
<p style="font-size: 20px; color: white">Loading...</p></ngx-spinner>
<ng-template #modalerror let-modal>
 <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
  <div class="modal-body">
        <div class="container-fluid">
          <div class="row d-flex justify-content-center">
            <div class="col-12 text-center p-t-20 p-b-20">
              <h1 class="text-danger"><i class="fas fa-exclamation-triangle"></i></h1>
            </div>
            <div class="col-12 text-center m-b-40">
                <h4>{{msgerror}}</h4>
            </div>
          </div>
        </div>
  </div>
</ng-template>
<ng-template #modeldetalltable let-modal>
    <div class="modal-header">
        <h5>Detalles de Cuestionario</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <table class="table table-hover ">
                <thead class="bg-primary text-white">
                  <th scope="col">Pregunta</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Emisor</th>
                  <th scope="col">Receptor</th>
                  <th scope="col">Respuesta</th>
                  <th scope="col">Puntos</th>
                </thead>
                <tbody>
                  <tr *ngFor="let pregunta of detailstable | paginate: {itemsPerPage: 4, currentPage: pageActual}; index as i">
                    <td scope="col" >{{pregunta.Pregunta}}</td>
                    <td scope="col">{{pregunta.Fecha}}</td>
                    <td scope="col">{{pregunta.Emisor}}</td>
                    <td scope="col">{{pregunta.Receptor}}</td>
                    <td scope="col">{{pregunta.Respuesta}}</td>
                    <td scope="col">{{pregunta.Puntos}}</td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls class="my-pagination" (pageChange)="pageActual = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
            </div>
           
          </div>
        </div>
  </div>
  <div class="modal-footer">
      <a target="_blanck" href="https://admyo.com/serverqval/downloaddetall?fech={{rangedate}}&num={{IDCuestionario}}" class="btn btn-secondary">Descargar .svg</a>
  </div>
</ng-template>