@import '../../../styles';
.cont-precios{
	padding-top:5rem;
	padding-bottom: 5rem;
	& .card{

		& .card-body{
			background: transparent;
			& .card-precio{
				width: 100%;
				display: block;
				font-size: 2rem;
				font-family: map-get($fonts,sans-pro);
			}
			& .list-group{
				& .list-group-item{
					font-family: map-get($fonts,sans-pro);
				   font-size: 15px;
				   color:map-get($gamagrises,gris3);
				}
			}
		}
		& .card-footter{
			padding-top:1rem;
			padding-bottom: 1rem;
		}
	}
}
.card-precios{
    font-family: map-get($fonts, sans-pro );
    text-align: center;
    background: rgba(map-get($gamagrises, gris3 ),0.1);
    cursor:pointer;
    &:hover{
        background:map-get($colors, primary );
        & .titulo,& .precio{
            color: map-get($colors, blanco );
        }
    }
    &.active{
        background:map-get($colors, primary );
        & .titulo,& .precio{
            color: map-get($colors, blanco );
        }  
    }
    & .titulo{
       font-size: 1.5rem;
       color: map-get($gamagrises, gris3 );
    }
    & .precio{
        font-size: 1.2rem 
    }
    
}
.text-lits{
    font-size: 1.2rem;
    font-family: map-get($fonts ,prosto )
}