<div class="container-fluid bg-primary  cont-precios" id="precios">
    <div class="row">
      <div class="col-12 text-center m-b-40">
        <h4 class="text-white text-uppercase text-prosto">Precios Qval</h4>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-4 col-xl-4 col-lg-4  m-b-20">
        <div class="card">
          <div class="card-body ">
            <div class="card-precio text-white p-t-20 p-b-20 bg-orange text-center">
              MENSUAL
            </div>
            <ul class="list-group">
              <li class="list-group-item">Número ilimitado de clientes y proveedores </li>
              <li class="list-group-item">Customización de accesos a usuarios                </li>
              <li class="list-group-item">App Móvil </li>
              <li class="list-group-item">Integración con admyo.com</li>
              <li class="list-group-item">Customización de cuestionarios, preguntas y respuestas                </li>
              <li class="list-group-item">Customización de apariencia de la aplicación
                </li>
              <li class="list-group-item">Costo $3000.00 10 PRIMERAS LICENCIAS OBLIGATORIAS. 100 MXN a partir de la 11ª  </li>
              <li class="list-group-item">Costo Mensual
              </li>
            </ul>
          </div>
          <div class="card-footter text-center">
            <button (click)="addcart('0')" class="btn btn-primary">Seleccionar</button>
          </div>
          
        </div>
      </div>
      <div class="col-12 col-md-4 col-xl-4 col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="card-precio text-white text-uppercase p-t-20 p-b-20 bg-danger text-center">
              Anual
            </div>
            <ul class="list-group">
                <li class="list-group-item">Número ilimitado de clientes y proveedores </li>
                <li class="list-group-item">Customización de accesos a usuarios                </li>
                <li class="list-group-item">App Móvil </li>
                <li class="list-group-item">Integración con admyo.com</li>
                <li class="list-group-item">Customización de cuestionarios, preguntas y respuestas                </li>
                <li class="list-group-item">Customización de apariencia de la aplicación
                  </li>
                <li class="list-group-item">Costo $30,000.00 10 PRIMERAS LICENCIAS OBLIGATORIAS. 1000 MXN a partir de la 11ª  </li>
                <li class="list-group-item">2 Meses de Regalo</li>
              </ul>
          <div class="card-footter text-center">
            <button (click)="addcart('1')" class="btn btn-primary">Seleccionar</button>
          </div>
        </div>
      </div>
    
    </div>
  </div>