<app-menua></app-menua>
<div class="container-searchhome">
    <div class="fondoobs">
    </div>
    <div class="conatainer">
        <div class="row">
            <div class="col-8">
                <img src="assets/logoqva.png" class="img-fluid" alt="">
            </div>
            <div class="col-12 text-right m-t-50">
                <h1 class="text-right text-primary text-prosto">Mejora Continuamente</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row bg-secondary p-t-20 p-b-20">
        <div class="col-12 text-white text-monse">
                <h2>Que aportamos</h2>
        </div>
        <div class="col-12 text-white text-monse">
            <h4>Capacidad para medir cualquier indicador o interrogante de negocio a tiempo real.</h4>
        </div>
    </div>
    <div class="row m-t-20">
        <div class="col-4">
            <div class="card w-100" >
                <img src="/assets/img/img1.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                  <h6 class="card-text">Personaliza cuestionarios e indicadores</h6>
                  <div class="conatiner-fluid">
                    <div class="row">
                        <div class="col-12 text-right">
                          <button class="btn btn-primary">Ver Detalle</button>
                        </div>
                    </div>
                  </div>
                </div>
                
              </div>
        </div>
        <div class="col-4">
            <div class="card w-100" >
                <img src="/assets/img/img2.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                  <h6 class="card-text">Genera informes basados en varios cuestionarios</h6>
                
                <div class="conatiner-fluid">
                    <div class="row">
                        <div class="col-12 text-right">
                          <button class="btn btn-primary">Ver Detalle</button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card w-100" >
                <img src="/assets/img/img3.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                  <h6 class="card-text">Genera grupos de usuario y/o Clientes</h6>
                  <div class="conatiner-fluid">
                    <div class="row">
                        <div class="col-12 text-right">
                          <button class="btn btn-primary">Ver Detalle</button>
                        </div>
                    </div>
                  </div>
                  
                </div>
               
              </div>
        </div>
    </div>
</div>
<div class="container-fluid m-t-20">
    <div class="row bg-secondary p-t-20 p-b-20">
        <div class="col-12 text-white text-monse">
                <h2>Como han usado nuestro software </h2>
        </div>
        <div class="col-12 text-white text-monse">
            <h4>Nuestro software ha sido usado por varias empresas buscando soluciones para diferentes problemas.</h4>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row m-t-30">
        <div class="col-4 m-b-20">
            <div class="row">
                <div class="col-12 titulo">
                    <h3  class="text-primary">Calidad y procesos</h3>
                </div>
                <mat-list role="list" class="col-12 text-monse ">
                    <mat-list-item role="listitem">Medición calidad de recepción de mercancía o servicio                    </mat-list-item>
                    <mat-list-item role="listitem">Medición calidad de un proceso </mat-list-item>
                    <mat-list-item role="listitem">Medición tiempos en la elaboración de un proceso</mat-list-item>
                    <mat-list-item role="listitem">Medición de merma en un proceso o producto</mat-list-item>
                    <mat-list-item role="listitem"> Identificación de microrobo</mat-list-item>
                </mat-list>
            </div>
        </div>
        <div class="col-4 m-b-20">
            <div class="row">
                    <div class="col-12 titulo">
                            <h3 class="text-primary">RRHH</h3>
                        </div>
                        <mat-list role="list" class="col-12 text-monse">
                            <mat-list-item role="listitem">Medición de Satisfacción laboral</mat-list-item>
                            <mat-list-item role="listitem">Medición de la eficacia en la formación de empleados</mat-list-item>
                            <mat-list-item role="listitem">Medición calidad en la formación</mat-list-item>
                        </mat-list>
            </div>
            
        </div>
        <div class="col-4 m-b-20">
            <div class="row">
                    <div class="col-12 titulo">
                            <h3  class="text-primary">Clientes y proveedores</h3> 
                         </div>
                         <mat-list role="list" class="col-12 text-monse">
                             <mat-list-item role="listitem">Medición calidad de proveedores y clientes</mat-list-item>
                             <mat-list-item role="listitem">Medición calidad de producto en entrega</mat-list-item>
                             <mat-list-item role="listitem">Medición en la atención al cliente</mat-list-item>
                             <mat-list-item role="listitem">Medición en la recepción de pagos </mat-list-item>
                             <mat-list-item role="listitem">Medición en los tiempos de entrega</mat-list-item>
                         </mat-list>
            </div>
            
        </div>
    </div>
</div>
<div class="container-fluid m-t-20">
        <div class="row bg-secondary p-t-20 p-b-20">
            <div class="col-12 text-white text-monse">
                    <h2>Precios</h2>
            </div>
            <div class="col-12 text-white text-monse">
                <h4>Nuestros precios se adecuan a tamaño de la empresa. Empezando desde $ 3.000 pesos.</h4>
            </div>
        </div>
        
</div>
<app-precios></app-precios>
<div class="container-fluid m-t-20">
        <div class="row bg-secondary p-t-20 p-b-20">
            <div class="col-12 text-white text-monse">
                    <h2>Nuestras Apps</h2>
            </div>
            <div class="col-12 text-white text-monse">
                <h4>Nuestras apps que permiten usar nuestros sistemas desde tu celular o tableta.</h4>
            </div>
        </div>
        
</div>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-3 m-t-30">
            <div class="card">
                <img src="/assets/img/apps1.png" class="card-img-top">
                <div class="card-body">
                        <h5 class="card-title text-primary text-monse text-center">Usuario</h5>
                </div>
            </div>
        </div>
        <div class="col-3 m-t-30">
            <div class="card">
                    <img src="/assets/img/apps1.png" class="card-img-top">
                    <div class="card-body">
                            <h5 class="card-title text-primary text-monse text-center">Gestor</h5>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid m-t-20">
    <div class="row bg-secondary p-t-20 p-b-20">
        <div class="col-12 text-white text-monse">
            <h2>Donde estamos</h2>
        </div>
        <div class="col-12 text-white text-monse">
            <h4>Algunas de nuestras estadísticas.</h4>
        </div>
    </div> 
</div>
<div class="container">
        <div class="row">
            <div class="col-5 text-primary text-prosto text-center p-20">
                    <h5> + de 150 Empresas participando</h5>
            </div>
            <div class="col-5 text-primary text-prosto text-center p-20">
                    <h5>+ de 300 consultas de perfil mensuales</h5>
            </div>
            <div class="col-12 bg-primary hpx-2">
            </div>
            <div class="col-5 text-primary text-prosto text-center p-20">
                <h5>+ de 8,000 empresas calificadas</h5>
                
            </div>
            
            <div class="col-5 text-primary text-prosto text-center p-20"><h5>+ de 15 giros representados</h5></div>
        </div>
    </div>
<app-footer></app-footer>
