<app-menua></app-menua>
<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-lg-center">
        <div class="col-12 col-md-6 col-lg-6 col-xl-6 text-center  text-monse m-t-30">
            <h2 class="text-uppercase text-prosto">Obtén las respuestas que necesitas</h2>
            <br>
            <h4>QVAL es la herramienta móvil que permite a las empresas medir y gestionar cualquier indicador o interrogante de negocio en tiempo real.</h4>
            <br>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" (click)="goto('/login')" class="btn btn-outline-succes text-uppercase mr-3">inicia sesión</button>
                <button type="button"  (click)="goto('/registro')" class="btn btn-primary text-uppercase">Suscríbete</button>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-6 d-md-block ">
            <img src="/assets/img/img-1.jpg" class="img-fluid" alt="">
        </div>       
    </div>
</div>
<div class="container-fluid bg-light-gray">
    <div class="row text-monse p-t-20 p-b-20">
        <div class="col-12 col-md-3 col-lg-3 col-xl-3">
            <div class="row">
                <div class="col-12 text-center">
                        <h1> <i class="fas fa-search"></i></h1> 
                </div>
                <div class="col-12 text-center">
                        Capacidad de medición de cualquier KPI en tiempo real.
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 col-lg-3 col-xl-3">
            <div class="row">
                <div class="col-12 text-center">
                        <h1><i class="fas fa-check-circle"></i></h1> 
                </div>
                <div class="col-12 text-center">
                        Integración con otros datos para incentivar en lograr objetivos.
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 col-lg-3 col-xl-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h1><i class="fas fa-hands-helping"></i></h1>
                        
                </div>
                <div class="col-12 text-center">
                        Alertas a responsables de áreas en desviaciones o respuestas negativas.
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 col-lg-3 col-xl-3">
            <div class="row">
                <div class="col-12 text-center">
                        <h1><i class="fas fa-chart-line"></i></h1> 
                </div>
                <div class="col-12 text-center">
                        Integración con portal de reputación en indicadores de admyo.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row lista_porque d-flex justify-content-center align-items-center">
        <div class="col-12 text-monse text-center m-b-20 m-t-20" id="porque">
            <h3>¿PORQUE USAR QVAL?</h3>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
            <img src="/assets/img/5-min.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-6 ">
            <ul class="ul-lista">
                <li>Informes e indicadores de áreas de oportunidad para motivar la mejora continua.</li>
                <li>Identificación de usuarios, clientes y proveedores vía códigos QR.</li>
                <li>Permite controlar de una forma fácil la calidad y eficiencia en toda la cadena logística.</li>
                <li>Permite supervisión del desempeño de usuarios.</li>
                <li>Confidencialidad de datos.                    </li>
                <li>Mejora gestión de quejas en el momento, antes de que impacte negativamente en otras encuestas, portales o similares.  </li>
            </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
            <ul class="ul-lista">
                <li>Reputación empresarial y posicionamiento con respecto a la competencia. Gestionando imagen comercial y digital.</li>
                <li>Incrementamos el nivel de encuestas positivas.</li>
                <li>Calificación más confiable que simples encuestas, sin necesidad de conexión de datos.</li>
                <li>Menor coste de mantenimiento para las empresas</li>
                <li>Customización de preguntas y respuestas, adicionales a las de admyo </li>
                <li>Desarrollos continuos</li>
            </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
            <img src="/assets/img/42-22971282-min.jpg" class="img-fluid" alt="">
        </div>
    </div>
</div>
<app-precios></app-precios>
<app-footer></app-footer>
