@import '../../../styles';
.lista_porque{
    & .col-6{
        padding: 0px !important;
    }
    & .ul-lista{
        font-size: map-get($colors,monse );
        font-size: 1.3rem;
        padding: 1rem;
        & li{
            list-style: none;
            text-align: justify;
            margin-top: 10px;
        }
    }
}
.container-searchhome{
	position: relative;
	display: flex;
	justify-content: center;
	align-content: center;
	    align-items: center;
	width: 100%;
	height: 100vh;
	background:transparent url('/assets/img/42-22971282-min.jpg') center center no-repeat;
	background-size: cover; 
	font-family: map-get($fonts,prosto);
	& .fondoobs{
		position: absolute;
		background:rgba(map-get($gamagrises,gris1),0.4);
		width: 100%;
		height: 100%;

    }
    & h1{
        font-size: 3.5rem;
    }
	
}
:host /deep/ .mat-list-item-content {
    font-family: map-get($fonts,monse);
    font-size:1rem;
}