@import '../../../styles';
.cont-fotter{
 
    position: absolute;
    bottom: 0px;
    z-index: 3;
    background: map-get($colors ,dark );
    & span{
        color:map-get($colors ,blanco );
    }
}