<div class="container-fluid cont-fotter">
  <div class="row p-t-10 p-b-10">
    <div class="col-3 text-center">
      <span>Condiciones de uso</span>
    </div>
    <div class="col-3 text-center">
        <span>Política de provacidad</span>
    </div>
    <div class="col-3 text-center">
        <span>Política de cookies</span>
    </div>
    <div class="col-3 text-center">
        <span>Política de copyright</span>
    </div>
    <div class="col-12 text-center m-t-20">
      <span>Todos los derechos reservados InfoAdmyo 2019</span>
    </div>
  </div>
</div>