<div class="container-fluid bg-gris1 p-t-40 p-b-40">
  <div class="container">
      <div class="row">
          <div class="col-12 m-t-40">
            <div>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-6">
                    <mat-form-field class="w-100">
                      <input matInput (keyup)="applyFilter($event.target.value)" class="text-dark-2"  placeholder="Buscar nombre de encuesta">
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                      <mat-form-field class="w-100">
                          <mat-label>Grupo de Encuestas</mat-label>
                          <mat-select [(value)]="selected" (selectionChange)="ordergroup()">
                            <mat-option value="td">Todas</mat-option>
                            <mat-option value="sn">Sin Grupo</mat-option>
                            <mat-option *ngFor="let grupo of grupos" value="{{grupo.IDGrupo}}">{{grupo.Nombre}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <div class="mat-elevation-z8 ">
                            <table mat-table class="w-100" [dataSource]="dataSource" matSort >
                          
                              <!-- ID Column -->
                              <ng-container matColumnDef="titulo">
                                <th mat-header-cell *matHeaderCellDef  class="bg-dark-2 "> <span class="d-flex justify-content-center text-uppercase text-monse">Título</span> </th>
                                <td mat-cell *matCellDef="let row"> {{row.Nombre}} </td>
                              </ng-container>
                          
                              <!-- Progress Column -->
                              <ng-container matColumnDef="fechaultima">
                                <th mat-header-cell *matHeaderCellDef  class="bg-dark-2 justify-content"><span class="text-uppercase text-monse d-flex justify-content-center">Perfil Emisor</span> </th>
                                <td mat-cell *matCellDef="let row" class="text-center"> {{row.Emisor}} </td>
                              </ng-container>
                          
                              <!-- Name Column -->
                              <ng-container matColumnDef="norespuestas">
                                <th mat-header-cell *matHeaderCellDef  class="bg-dark-2"><span class="text-uppercase text-monse d-flex justify-content-center">Perfil Receptor </span></th>
                                <td mat-cell *matCellDef="let row" class="text-center"> {{row.Receptor}} </td>
                              </ng-container>
                          
                              <!-- Color Column -->
                              <ng-container matColumnDef="resultados">
                                <th mat-header-cell *matHeaderCellDef  class="bg-dark-2"><span class="text-uppercase text-monse">Resultados</span> </th>
                                <td mat-cell *matCellDef="let row" class="text-center">
                                    <button (click)="goto('resultados/'+row.IDCuestionario)" placement="bottom" ngbTooltip="Analiza los resultados obtenidos"   mat-icon-button class="text-primary">
                                        <i class="fas fa-chart-area"></i>
                                    </button>
                                </td>
                              </ng-container>

                              <ng-container matColumnDef="compartir">
                                  <th mat-header-cell *matHeaderCellDef  class="bg-dark-2"><span class="text-uppercase text-monse">Compartir</span> </th>
                                  <td mat-cell *matCellDef="let row" class="text-center">
                                      <button (click)="most_url(row.IDCuestionario)" placement="bottom" ngbTooltip="Comparte tu encuesta"  mat-icon-button class="text-primary">
                                          <i class="fas fa-share-alt"></i>
                                      </button>
                                  </td>
                              </ng-container>

                              <ng-container matColumnDef="acciones">
                                  <th mat-header-cell *matHeaderCellDef  class="bg-dark-2"><span class="text-uppercase text-monse">Acciones</span> </th>
                                  <td mat-cell *matCellDef="let row" class="text-center">
                                      <button mat-icon-button [matMenuTriggerFor]="menu" class="text-primary">
                                          <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <button (click)="desactivar(row.IDCuestionario,row.Estado === '1' ? '0':'1')" mat-menu-item>
                                              <i class="fas fa-{{row.Estado==1? 'exclamation-circle':'check'}}"></i>
                                              <span class="ml-3 mr-3">{{row.Estado==1? 'Desactivar':'Activar'}}</span>
                                              <div class="q"><i matTooltip="Activar o Desactivar esta encuesta" class="fas fa-question-circle"></i></div>
                                            </button>
                                            <button (click)="editar_encuesta(row.IDCuestionario)"  mat-menu-item>
                                              <i class="fas fa-edit"></i>
                                              <span class="ml-3 mr-3">Editar</span>
                                              <div class="q"><i matTooltip="Editar los datos de esta encuesta" class="fas fa-question-circle"></i></div>
                                            </button>
                                            <button (click)="muestranotificaciones(row.IDCuestionario)" mat-menu-item>
                                                <i class="fas fa-mobile-alt"></i>
                                                <span class="ml-3 mr-3">Activar notificaciones</span>
                                                <div class="q"><i matTooltip="Activar notificaciones cuando se conteste esta encuesta" class="fas fa-question-circle"></i></div>
                                            </button>
                                            <button (click)="open_modalgrupos(row.IDCuestionario)" mat-menu-item>
                                                <i class="fas fa-archive"></i>
                                                <span class="ml-3 mr-3">Archivar</span>
                                                <div class="q"><i matTooltip="Agregar a un grupo" class="fas fa-question-circle"></i></div>
                                            </button>
                                            <button (click)="most_url(row.IDCuestionario)" mat-menu-item>
                                              <i class="fas fa-link"></i>
                                              <span class="ml-3 mr-3">Mostrar URL</span>
                                              <div class="q"><i  matTooltip="Mostrar la dirección url de esta encuesta para compartir" class="fas fa-question-circle"></i></div>
                                            </button>
                                            <button (click)="alertdeleteresp(row.IDCuestionario)" mat-menu-item>
                                                <i class="fas fa-ban"></i>
                                                <span class="ml-3 mr-3">Eliminar Respuestas</span>
                                                <div class="q"><i  matTooltip="Elimina permanentemente todas las respuestas que recibió esta encuesta. Las preguntas, el formato y la lógica no sufrirán cambios." class="fas fa-question-circle"></i></div>
                                            </button>
                                            <button mat-menu-item (click)="alertdele(row.IDCuestionario)" >
                                                <i class="fas fa-ban"></i>
                                                <span class="ml-3 mr-3">Eliminar Encuesta</span>
                                                <div class="q"><i matTooltip="Eliminar todo los datos relacionados con esta encuesta" class="fas fa-question-circle"></i></div>
                                            </button>
                                            
                                          </mat-menu>

                                  </td>
                              </ng-container>
                          
                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                              </tr>
                            </table>
                          
                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                          </div>
                    </div>
                    <div class="col-6 m-t-20 m-b-20">
                      <button (click)="nuew()" class="btn btn-succes text-white text-uppercase">Crear encuesta</button>
                    </div>
                    <div class="col-6 m-t-20 m-b-20 text-right">
                        <button (click)="admin_grupos()" class="btn btn-outline-succes text-uppercase">Administrar Grupos</button>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
<ng-template #creargrupo let-modal>
  <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">Administrar Grupos de Encuestas</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
  </div>
  <div class="modal-body  bg-white">
    <div class="container p-t-20 p-b-20">
      <div class="row">
      <div class="col-12 p-t-10 p-b-10" *ngFor="let grupo of grupos">
        <div class="row d-flex justify-content-center align-items-center">
          
          <div class="col-8 text-gris3 text-monse">
            {{grupo.Nombre}}
          </div>
          <div class="col-2">
              <button (click)="editgrup(grupo.IDGrupo)" mat-mini-fab class="bg-primary"><i class="fas fa-edit"></i></button>
          </div>
          <div class="col-2">
              <button mat-mini-fab (click)="deletgrup(grupo.IDGrupo)" class="bg-primary"><i class="fas fa-trash"></i></button>
          </div>
        </div>
        <mat-divider class="w-100 m-t-15"></mat-divider>
      </div>
      <div class="col-12" *ngIf='newgrupe'>
        <div class="row d-flex justify-content-center align-items-lg-center">
          <div class="col-6">
              <mat-form-field class="w-100">
                  <input [(ngModel)]="modelnewgrupo.Nombre" matInput placeholder="Nombre de Grupo" value="">
              </mat-form-field>
          </div>
          <div class="col-6 text-right">
              <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-succes mr-3" (click)="addgrup()">Guardar</button>
                  <button type="button" class="btn btn-danger" (click)="newgrupe = !newgrupe">Cacelar</button>
              </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="modal-footer">
      <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-succes mr-3" (click)="new_grupo()">Nuevo Grupo</button>
          <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">Cerrar</button>
      </div>
  </div>
</ng-template>
<ng-template #mnotificacion let-modal>
  <div class="modal-header">
    <h5>Notificaciones</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 text-monse text-justify">
          Cuando se conteste este cuestionario, se enviara una notificación al usuario que este seleccionado en la lista que se muestra enseguida. 
        </div>
        <mat-list class="col-12">
          <mat-list-item *ngFor="let usuario of usuarios">
            <mat-checkbox [checked]="usuario.checked" [value]="usuario.id" (change)="addusernot($event)" color="primary" class="example-margin" >{{ usuario.nombre +' '+ usuario.apellido }}</mat-checkbox>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-danger mr-3" (click)="modal.dismiss('Cross click')">Cerrar</button>
      <button type="button" class="btn btn-succes" (click)="guardar_notificacion()">Guardar</button>
      
    </div>
  </div>
</ng-template>
<ng-template #ngrupos let-modal>
<div class="modal-header">
  <h5 > Grupos de Encuestas</h5>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
<span class="d-block text-center text-monse">Selecciona el grupo al que quieres que pertenesca esta escuesta.</span>
<div class="container">
  <div class="row">
    <div class="col-12">
        <mat-list role="list">
            <mat-radio-group [(ngModel)]="modelgrupoper.IDGrupo" aria-label="Select an option">
              <mat-list-item  role="listitem"><mat-radio-button color="primary" value="0">Sin Grupo</mat-radio-button></mat-list-item>
              <mat-list-item *ngFor="let grupo of grupos" role="listitem"><mat-radio-button color="primary" value="{{grupo.IDGrupo}}">{{grupo.Nombre}}</mat-radio-button></mat-list-item>
            </mat-radio-group>
          </mat-list> 
    </div>
  </div>
</div>
</div>
<div class="modal-footer">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-danger mr-3">Cerrar</button>
        <button type="button" class="btn btn-succes" (click)="addgrupoaencuesta()">Guardar</button>
        
      </div>
</div>

</ng-template>

<swal
  #errorrfcSwal
  title="¿Está seguro de eliminar este registro?"
  text=""
  type="question"
  (confirm)="borrarcuestionario()"
  [showCancelButton]="true"
  confirmButtonText="Eliminar"
  cancelButtonText="Cancelar"
   >
</swal>
<swal
  #errorrrespSwal
  title="¿Está seguro de eliminar este registro?"
  text=""
  type="question"
  (confirm)="delete_respuestas()"
  [showCancelButton]="true"
  confirmButtonText="Eliminar"
  cancelButtonText="Cancelar"
   >
</swal>

<div *ngIf="spiner" class="spinner">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<ng-template #modalnueva let-modal>
  <div class="modal-header">
    <h5 >Selecciona</h5>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-monse m-b-20">
    <h4 class="m-t-20 d-block text-center">¿Cómo quieres comenzar?</h4>
    <div class="container-fluid">
      <div class="row">
        <div class="col-6 text-center m-t-20">
            <button class="btn btn-primary mr-3 text-uppercase" (click)="goto('encuestas/select/N')">Crear Nueva Encuesta</button>
        </div>
        <div class="col-6 text-center m-t-20">
            <button class="btn btn-primary  text-uppercase">Seleccionar una existente</button>
        </div>
      </div>
    </div>
    
  </div>
</ng-template>
