<div class="container-fluid p-t-40 p-b-40">
    <div class="row">
        <div class="col-4">
            <mat-form-field class="w-100">
              <input matInput (keyup)="applyFilter($event.target.value)" class="text-dark-2"  placeholder="Buscar nombre de encuesta">
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field class="w-100">
              <mat-label>Familias de Cuestionarios</mat-label>
              <mat-select [(value)]="selected" (selectionChange)="ordergroup()">
                    <mat-option value="td">Todas</mat-option>
                    <mat-option value="sn">Sin Grupo</mat-option>
                    <mat-option *ngFor="let grupo of grupos" value="{{grupo.IDGrupo}}">{{grupo.Nombre}}</mat-option>
               </mat-select>
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field class="w-100">
                <mat-label>Grupos</mat-label>
                <mat-select [(value)]="selected" (selectionChange)="ordergroup()">
                      <mat-option value="td">Todas</mat-option>
                      <mat-option value="sn">Sin Grupo</mat-option>
                 </mat-select>
            </mat-form-field>
        </div>
        <div class="col-2 text-right">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button (click)="nuew()" class="btn btn-secondary text-white text-uppercase mr-3" matTooltip="Crear Cuestionario"><i class="fas fa-plus"></i></button>
                <button (click)="admin_grupos()" class="btn btn-outline-secondary text-uppercase " matTooltip="Administrar Familias"><i class="fas fa-archive"></i></button>
                
              </div>
        </div>
    </div>
  <div class="container m-t-30">
    
    <div class="row">
        <div class="col-3" *ngFor="let  encuesta of tdencuestas ">
            <div  class="card w-100 card-avatar">
                <div class="card-header bg-white">
                  <div class="row">
                      <div class="col-10 text-center">
                          <span class="text-nombre ">{{encuesta.Nombre}}</span>
                      </div>
                       <div class="col-1 text-center">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button (click)="desactivar(encuesta.IDCuestionario,encuesta.Estado === '1' ? '0':'1')"  mat-menu-item>
                                <mat-icon><i matTooltip="Activar o Desactivar esta encuesta" class="fas fa-question-circle"></i></mat-icon>
                                <span>{{encuesta.Estado==1? 'Desactivar':'Activar'}}</span>
                              </button>
                            <button (click)="editar_encuesta(encuesta.IDCuestionario)"   mat-menu-item>
                              <mat-icon><i matTooltip="Editar los datos de esta encuesta" class="fas fa-question-circle"></i></mat-icon>
                              <span>Editar</span>
                            </button>
                            <button (click)="open_modalgrupos(encuesta.IDCuestionario)"  mat-menu-item>
                                <mat-icon><i matTooltip="Agregar a un grupo" class="fas fa-question-circle"></i></mat-icon>
                                <span>Asignar familia</span>
                              </button>
                            <button (click)="goto('resultados/'+encuesta.IDCuestionario)"  mat-menu-item>
                                  <mat-icon><i matTooltip="Ver resultados de encuesta" class="fas fa-question-circle"></i></mat-icon>
                                  <span>Resultados</span>
                              </button>
                           <!--- <button (click)="muestranotificaciones(encuesta.IDCuestionario)"  mat-menu-item>
                              <mat-icon><i matTooltip="Agregar a un grupo" class="fas fa-question-circle"></i></mat-icon>
                              <span>Activar Notificaciones</span>
                            </button>--->
                            <button  (click)="most_url(encuesta.IDCuestionario)" mat-menu-item>
                                <mat-icon><i  matTooltip="Mostrar la dirección url de esta encuesta para compartir" class="fas fa-question-circle"></i></mat-icon>
                                <span>Mostrar URL </span>
                              </button>
                            <button (click)="alertdeleteresp(encuesta.IDCuestionario)" mat-menu-item>
                                <mat-icon><i  matTooltip="Elimina permanentemente todas las respuestas que recibió esta encuesta. Las preguntas, el formato y la lógica no sufrirán cambios." class="fas fa-question-circle"></i></mat-icon>
                                <span>Eliminar Respuestas </span>
                              </button>
                            <button  (click)="alertdele(encuesta.IDCuestionario)" mat-menu-item>
                                <mat-icon><i matTooltip="Eliminar todo los datos relacionados con esta encuesta" class="fas fa-question-circle"></i></mat-icon>
                                <span>Eliminar Cuestionario</span>
                              </button>
                          </mat-menu>
                    </div>
                  </div>
                    
                   
                  </div>
                <div  class="card-body row">
                  
                  <div class="col-12 m-t-20 text-center">
                    <span class="text-titulo-secundario ">Grupo Emisor</span>
                  </div>
                  <div class="col-12 text-center">
                      <span class="text-subtitulo-secundario text-muted">{{encuesta.Emisor}}</span>
                  </div>
                  <div class="col-12 m-t-20 text-center">
                      <span class="text-titulo-secundario ">Grupo Receptor</span>
                    </div>
                    <div class="col-12 text-center">
                        <span class="text-subtitulo-secundario text-muted">{{encuesta.Receptor}}</span>
                    </div>
                  </div>
                <div class="card-footer">
                    <div class="btn-group d-flex" role="group" aria-label="Basic example">
                        <button type="button" (click)="editar_encuesta(encuesta.IDCuestionario)"  class="btn btn-primary mr-3">Editar</button>
                        <button type="button"  (click)="alertdele(encuesta.IDCuestionario)" class="btn btn-outline-danger ">Eliminar</button>
                      </div>
                    </div>
              </div>
        </div>
    </div>
  </div>
</div>




<ng-template #creargrupo let-modal>
  <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">Administrar Familias de Cuestionarios</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
  </div>
  <div class="modal-body  bg-white">
    <div class="container p-t-20 p-b-20">
      <div class="row">
      <div class="col-12 p-t-10 p-b-10" *ngFor="let grupo of grupos">
        <div class="row d-flex justify-content-center align-items-center">
          
          <div class="col-8 text-gris3 text-monse">
            {{grupo.Nombre}}
          </div>
          <div class="col-2">
              <button (click)="editgrup(grupo.IDGrupo)" mat-mini-fab class="bg-primary"><i class="fas fa-edit"></i></button>
          </div>
          <div class="col-2">
              <button mat-mini-fab (click)="deletgrup(grupo.IDGrupo)" class="bg-primary"><i class="fas fa-trash"></i></button>
          </div>
        </div>
        <mat-divider class="w-100 m-t-15"></mat-divider>
      </div>
      <div class="col-12" *ngIf='newgrupe'>
        <div class="row d-flex justify-content-center align-items-lg-center">
          <div class="col-6">
              <mat-form-field class="w-100">
                  <input [(ngModel)]="modelnewgrupo.Nombre" matInput placeholder="Nombre de Grupo" value="">
              </mat-form-field>
          </div>
          <div class="col-6 text-right">
              <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-outline-danger mr-3" (click)="newgrupe = !newgrupe">Cancelar</button>
                  <button type="button" class="btn btn-succes " (click)="addgrup()">Guardar</button>
                  
              </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="modal-footer">
      <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-outline-danger mr-3" (click)="modal.dismiss('Cross click')">Cerrar</button>
          <button type="button" class="btn btn-outline-secondary " (click)="new_grupo()">Crear Familias de Cuestionarios</button>
         
      </div>
  </div>
</ng-template>
<ng-template #mnotificacion let-modal>
  <div class="modal-header">
    <h5>Notificaciones</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 text-monse text-justify">
          Cuando se conteste este cuestionario, se enviara una notificación al usuario que este seleccionado en la lista que se muestra enseguida. 
        </div>
        <mat-list class="col-12">
          <mat-list-item *ngFor="let usuario of usuarios">
            <mat-checkbox [checked]="usuario.checked" [value]="usuario.id" (change)="addusernot($event)" color="primary" class="example-margin" >{{ usuario.nombre +' '+ usuario.apellido }}</mat-checkbox>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-danger mr-3" (click)="modal.dismiss('Cross click')">Cerrar</button>
      <button type="button" class="btn btn-succes" (click)="guardar_notificacion()">Guardar</button>
      
    </div>
  </div>
</ng-template>
<ng-template #ngrupos let-modal>
<div class="modal-header">
  <h5 > Grupos de Encuestas</h5>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
<span class="d-block text-center text-monse">Selecciona el grupo al que quieres que pertenesca esta escuesta.</span>
<div class="container">
  <div class="row">
    <div class="col-12">
        <mat-list role="list">
            <mat-radio-group [(ngModel)]="modelgrupoper.IDGrupo" aria-label="Select an option">
              <mat-list-item  role="listitem"><mat-radio-button color="primary" value="0">Sin Grupo</mat-radio-button></mat-list-item>
              <mat-list-item *ngFor="let grupo of grupos" role="listitem"><mat-radio-button color="primary" value="{{grupo.IDGrupo}}">{{grupo.Nombre}}</mat-radio-button></mat-list-item>
            </mat-radio-group>
          </mat-list> 
    </div>
  </div>
</div>
</div>
<div class="modal-footer">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-danger mr-3">Cerrar</button>
        <button type="button" class="btn btn-succes" (click)="addgrupoaencuesta()">Guardar</button>
        
      </div>
</div>

</ng-template>

<swal
  #errorrfcSwal
  title="¿Está seguro de eliminar este registro?"
  text=""
  type="question"
  (confirm)="borrarcuestionario()"
  [showCancelButton]="true"
  confirmButtonText="Eliminar"
  cancelButtonText="Cancelar"
   >
</swal>
<swal
  #errorrrespSwal
  title="¿Está seguro de eliminar este registro?"
  text=""
  type="question"
  (confirm)="delete_respuestas()"
  [showCancelButton]="true"
  confirmButtonText="Eliminar"
  cancelButtonText="Cancelar"
   >
</swal>

<div *ngIf="spiner" class="spinner">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<ng-template #modalnueva let-modal>
  <div class="modal-header">
    <h5 >Selecciona</h5>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-monse m-b-20">
    <h4 class="m-t-20 d-block text-center">¿Cómo quieres comenzar?</h4>
    <div class="container-fluid">
      <div class="row">
        <div class="col-6 text-center m-t-20">
            <button class="btn btn-primary mr-3 text-uppercase" (click)="goto('encuestas/select/N')">Crear Nueva Encuesta</button>
        </div>
        <div class="col-6 text-center m-t-20">
            <button class="btn btn-primary  text-uppercase">Seleccionar una existente</button>
        </div>
      </div>
    </div>
    
  </div>
</ng-template>
