<div class="container grupos m-t-30">
    <div class="row">
        <div class="col-4">
            <h4>Preguntas</h4>
        </div>
        <div class="col-6">
                <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="palabra" (keyup)="buscarpregunta()" placeholder="Buscar" >
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                             </div>
                </div>
        </div>   
        <div class="col-2 text-rigth">
            <div class="row d-flex justify-content-end">
                <div class="col-12 m-b-30 text-center">
                        
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary" (click)="open(modaldatos,'')" >Agregar</button>
                        
                     </div>
                </div>
            </div>
        </div>
        <div class="col-12">
        <table class="table table-hover">
          <thead class="bg-primary">
            
            <th scope="col">Descripción</th>
            <th scope="col">Forma</th>
            <th scope="col">Peso/Puntaje</th>
            <th scope="col" class="wpx-180 text-center">Accion</th>
            <th scope="col" class="wpx-180 text-center">Estado</th>
          </thead>
          <tbody>
            <tr *ngFor="let resp of lista | paginate: {itemsPerPage: 20, currentPage: pageActual} ; index as i">
              
              <td>{{resp.Pregunta}}</td>
              <td>{{(resp.Forma==="AB") ? 'ABIERTA': resp.Forma}}</td>
              <td class="text-center">{{resp.Peso}}</td>
              <td class="wpx-180">
                  <div class="container">
                      <div class="row d-flex justify-content-center">
                        <div class="col">
                          <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-primary" ngbDropdownToggle>Acciones</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1"> 
                              <button (click)="requestask(modaldatos,resp.IDPregunta)" class="dropdown-item"><i class="fas fa-wrench"></i> Modificar</button>
                              <button (click)="delete(resp.IDPregunta ,resp.Estado === '1' ? '0':'1')" class="dropdown-item"><i class="fas fa-{{resp.Estado === '1' ? 'ban':'check-circle' }}"></i>{{resp.Estado === '1' ? ' Desactivar':' Activar' }}</button>

                               <button (click)="alertdele(resp.IDPregunta)" class="dropdown-item"><i class="fas fa-trash"></i> Eliminar</button>
                              
                            </div>
                        </div>
                      </div>
                    </div>
                    </div>
              </td>
              <td class="wpx-180 text-center"><button (click)="delete(resp.IDPregunta ,resp.Estado === '1' ? '0':'1')" class=" text-white btn {{resp.Estado === '1' ? 'btn-danger':'btn-success'}}"><i class="fas fa-{{resp.Estado === '1' ? 'ban':'check-circle' }}"></i> {{resp.Estado === '1' ? 'Desactivar':'Activar'}}</button></td>
            </tr>
          </tbody>
        </table>
        <pagination-controls class="my-pagination" (pageChange)="pageActual = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
      </div>
    </div>
</div>
<ngx-spinner  class="spiner" bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-clip-rotate-multiple">
<p style="font-size: 20px; color: white">Loading...</p></ngx-spinner>

<ng-template #modaldatos let-modal>
    <div class="fixed-top alert alert-danger alert-dismissible fade alert-funciones w-50 mx-auto" role="alert">
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     
          <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">{{(pregunta.IDPregunta==="" ? 'Registrar Pregunta' : 'Modificar Pregunta')}}</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Pregunta</label>
                      <input type="text" (keyup)="addrespr($event)" [(ngModel)]="pregunta.Pregunta" [ngModelOptions]="{standalone: true}" class="form-control">
                    </div>
                  </div>
                  <div class="col-12">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Formas de Pregunta</label>
                        <select (change)="cambiorespuesta(false)" [(ngModel)]="pregunta.Forma" [ngModelOptions]="{standalone: true}" class="form-control">
                            <option value="">Selecciona</option>
                            <option value="SI/NO">SI/NO</option>
                            <option value="SI/NO/NA">SI/NO/NA</option>
                            <option value="SI/NO/NA/NS">SI/NO/NA/NS</option>
                            <option value="SI/NO/NS">SI/NO/NS</option>
                            <option value="AB">ABIERTA</option>
                            <option value="NUMERO">NUMERO</option>
                            <option value="DIAS">DIAS</option>
                            <option value="HORAS">HORAS</option>
                            <option value="MINUTOS">MINUTOS</option>
                            <option value="MLC">OPCIÓN MULTIPLE (CHECK-LIST)</option>
                            <option value="ML">OPCIÓN MULTIPLE (UNA SOLA RESPUESTA)</option>
                      </select>
                        
                      </div>
                  </div>
                  
                  <div class="col-12 colmf" [hidden]="pscin">
                      <div class="form-group" id="rp">
                        <label for="exampleInputEmail1">Respuesta Positiva</label>
                        <select [hidden]="selectsn"  [(ngModel)]="pregunta.Respuesta" [ngModelOptions]="{standalone: true}" class="form-control">'
                            <option *ngFor="let pos of posresplt" [value]="pos.val">{{pos.val}}</option>
                          </select>
                        <input [hidden]="inputrespp" type="{{tipor}}" [(ngModel)]="pregunta.Respuesta" [ngModelOptions]="{standalone: true}" class="form-control">
                      </div>
                  </div>
                  <div class="col-12 mltpe" [hidden]="lismulte">
                    <div class="fomr-group">
                        <input type="text" [(ngModel)]="posresp" [ngModelOptions]="{standalone: true}" (keyup)="addrespr($event)" placeholder="" class="form-control">
                        <small class="text-muted m-b-15">Al finalizar de escribir la posible respuesta preciona la tecla Enter</small>
                        <div class="card rptlis">
                          <div class="card-body" id="listmult">
                            <div class='btn btn-primary m-l-10 m-t-10' *ngFor="let elemnt of listf; let i=index;">{{elemnt.label}}<button type="button" (click)="removeposlist(i)" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
                        </div>
                      </div>
                    </div>
                  </div>
                    <div class="col-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Frecuencia</label>
                          <select [(ngModel)]="pregunta.Frecuencia" [ngModelOptions]="{standalone: true}" class="form-control">
                              <option value="">Selecciona</option>
                              <option value="1V">Cada Visita</option>
                              <option value="1M">Cada Mes</option>
                              <option value="2M">Cada Dos Meses</option>
                              <option value="3M">Cada Tres Meses</option>
                              <option value="6M">Semestral</option>
                              <option value="P15">Primeros 15 Dias del mes(1-15)</option>
                              <option value="S15">Segundos 15 Dias del mes(16-31)</option>
                        </select>
                          
                        </div>
                      </div>
                      <div class="col-6">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Puntaje</label>
                            
                            <input type="text" [(ngModel)]="pregunta.Peso" [ngModelOptions]="{standalone: true}" class="form-control">
                          </div>
                        </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button (click)="enviarform()"  class="btn btn-outline-primary">Guardar</button>
            </div>
      
</ng-template>
<ngb-alert  *ngIf="staticAlertClosed" type="danger" style="position: fixed;z-index: 1000;top: 0;width: 100%" (close)="close(alert)">{{ alertterror }}</ngb-alert>

<swal
  #errorrfcSwal
  title="¿Está seguro de eliminar este registro?"
  text=""
  type="question"
  (confirm)="borrarpregunta()"
  [showCancelButton]="true"
  confirmButtonText="Eliminar"
  cancelButtonText="Cancelar"
   >
</swal>
<swal
  #errorralert
  title="Sin Autorización"
  text="No esta autorizado para realizar esta acción, contacte a su administrador"
  type="warning"
  confirmButtonText="Entendido"
   >
</swal>

<div class=" d-none container-fluid bg-gris1 p-t-40 p-b-40">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header card-header bg-primary text-white text-monse text-uppercase text-center">
              <h5>Encuestas</h5>
          </div>
          <div class="card-body">
             <div class="container-fluid">
               <div class="row">
                 <div class="col-12 input-group">
                    <div class="input-group-prepend">
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Todas las Categorías</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <button ngbDropdownItem>Action - 1</button>
                              <button ngbDropdownItem>Another Action</button>
                              <button ngbDropdownItem>Something else is here</button>
                            </div>
                        </div>
                    </div>
                    <input type="text" class="form-control b-r-blanco" placeholder="Buscar en todos los bancos de preguntas" >
                    <div class="input-group-append ">
                        <span class="input-group-text text-gris3 bg-white b-l-blanco"><i class="fas fa-search"></i></span>
                    </div>
                 </div>
                  <div class="col-6 m-t-20">
                    <div class="btn btn-transparent text-gris3" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                        <i class="fas fa-filter"></i> Filtrar
                    </div>
                  </div>
                  <div class="col-6 m-t-20 text-gris3 text-right">
                    <small>2,511 Preguntas Registradas.</small>
                  </div>
                  <div class="col-12 " [ngbCollapse]="isCollapsed">
                      <div class="form-group m-t-20 m-b-20">
                          <label for="" class="text-gris3">Buscar etiquetas</label>
                          <input
                          (focus)="focus$.next($event.target.value)"
                          (click)="click$.next($event.target.value)"
                          #instance="ngbTypeahead" id="typeahead-basic" type="text" class="form-control" [(ngModel)]="modeltags" (selectItem)="selectedItem($event)"  [ngbTypeahead]="search"/>  
                      </div>
                      <span *ngFor='let tag of tags' class="p-l-10 p-r-10 p-t-10 p-b-10 bg-olive text-white mr-3">{{tag}} <span class="badge bg-transparent text-white">X</span></span>
                      <div class="container-fluid m-t-20">
                        <div class="row">
                          <div class="col-12 text-right">
                              <div class="btn-group" role="group" aria-label="Basic example">
                                  <button type="button" class="btn btn-succes mr-3">Aplicar</button>
                                  
                                  <button type="button" class="btn btn-outline-danger">Cerrar</button>
                              </div>
                          </div>
                        </div>
                      </div>
                  </div>
                 <div class="col-8 bg-gris2 cont-banco"
                    cdkDropList
                     #preguntasBanco="cdkDropList"
                    [cdkDropListConnectedTo]='[listaPregunta]'
                    [cdkDropListData] = 'preguntasbanco'
                    (cdkDropListDropped)="droper($event)"
                 >
                    <ul>
                        <li cdkDrag class="list-style w-50" *ngFor='let item of preguntasbanco'>
                            <mat-card class="card-pregunta" >
                                <mat-card-header>
                                    <mat-card-title>{{ item.pregunta }}</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                  <small class="text-primary">Ver Detalles</small>                                             
                                </mat-card-content>
                            </mat-card>
                        </li>
                    </ul>                                
                 </div>
                 <div class="col-4">
                   <div class="row">
                     <div class="col-12">
                        <h5 class="text-gris3 text-monse">Lista de Preguntas</h5>
                     </div> 
                   </div>
                   <div class="bg-gris2 cont-banco2 p-l-10 p-r-10"
                    cdkDropList
                    #listaPregunta='cdkDropList'
                    [cdkDropListConnectedTo]='[preguntasBanco]'
                    [cdkDropListData] = 'listapregunta'
                    (cdkDropListDropped)="droper($event)"
                    >
                      <mat-card cdkDrag class="m-b-20 m-t-10 card-pregunta" *ngFor='let item of listapregunta'>
                          <mat-card-header>
                               <mat-card-title>{{ item.pregunta }}</mat-card-title>
                          </mat-card-header>
                      </mat-card>
                    </div>
                 </div>
                 <div class="col-12 text-right m-t-20">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-azulcielo mr-3">Registrar Pregunta</button>
                        <button type="button" class="btn btn-succes mr-3">Vista Previa</button>
                        <button type="button" class="btn btn-outline-primary">Guardar Encuesta</button>
                      </div>
                 </div>
               </div>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>