<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand cursor_pointer" (click)='goto("/")'>
    <img src="/assets/img/svg_qval_logo.svg" width="100" height="50" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)='goto("/")'> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#precios">Planes</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link"  href="#porque">¿Porque Qval?</a>
      </li>
    </ul>
    <ul class=" navbar-nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="https://admyo.com" target="_blank">Admyo</a>
        </li>
        <li class="nav-item">
          <div class="nav-link text-uppercase"  (click)="goto('login')">Iniciar sesión</div>
        </li>
        <li class="nav-item suscribe">
          <div class="nav-link text-uppercase btn btn-secondary text-white" (click)='goto("/registro")'>Suscríbete</div>
        </li>
    </ul>
    <div class="my-2 my-lg-0">
      <div class=" btn btn-primry text-white">
       
      </div>
    </div>
    
  </div>
</nav>