<div class="container-fluid">
  <div class="row m-t-20 d-flex align-items-center">
    <div class="col-3">
      <img src="/assets/logoqvaluation.png" class="img-fluid" alt="">
    </div>
    <div class="col-6 text-right offset-3">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary mr-3" (click)='goto("precios")'>Registrarse</button>
        <button type="button" class="btn btn-primary"  (click)="goto('login')">Iniciar Sesión</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-girsmenu p-t-5  p-b-15 m-t-20">
  <div class="container ">
    <div class="row m-t-20">
      <div class="col-3 text-center">
        <button mat-button class="text-monse menu-botton" [matMenuTriggerFor]="menu">Software</button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item href="https://admyo.com" target="_blank" >Admyo</a>
          <a href="https://qvaluation.com" class="bg-secondary text-monse"   mat-menu-item>Qvaluation</a>
        </mat-menu>
      </div>
      <div class="col-3 text-center">
        <a mat-button class="text-monse menu-botton" href="#precios">Precios</a>
      </div>
      <div class="col-3 text-center">
        <a mat-button class="text-monse menu-botton" href="#Recursos">Recursos</a>
      </div>
      <div class="col-3 text-center">
        <a mat-button class="text-monse menu-botton" href="#partners">Partners</a>
      </div>
    </div>
  </div>
</div>

