/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
$fonts:(
	prosto: 'Prosto One',
	open-sans: 'Open Sans',
	lato: 'Lato',
	roboto: 'Roboto',
	sans-pro: 'Source Sans Pro',
  monse: 'Montserrat',
	);
$colors: (
  blanco:#fff,
  azulprimary:#00204a,
  primary:#005792,
  azulcielo:#448ef6,
  azuladmyo:    #005d8f,
  succes: #00a65a,
  verde:#008000,
  orange:#f7ac43,
  naranja:  #fdb44b,
  danger:     #f53d3d,
  dark:       #222,
  gary-lte:  #d2d6de,
  aqua: #00c0ef,
  yellow: #f39c12,
  blue: #0073b7,
  navy: #001F3F,
  teal: #39CCCC,
  olive: #3D9970,
  lime: #01FF70,
  secondary: #FF851B,
  orangeaadmyo:#fbb034,
  fuchsia: #F012BE,
  purple: #605ca8,
  maroon: #D81B60,
  blackk: #000,
  dark-2: #222d32,
  light-gray: #444,
  alight-gray:#777,
  nuevo: #d0d2d3,
 
);
$gamagrises:(
gris1:#f4f3f3,
gris2:#dfdfdf,
gris3:#393e46,
girsmenu:#555,
gris4:#333E48
	);
  $spaceamounts: (0,1,2,3,4,5, 10, 15, 20, 25, 30, 35, 40, 45, 50,55,60,65,70, 75,80,85,90,95,100,110,120,130,140,145,150,155,160,165,170,175,180,185,190,195,200);
$sides: (top, bottom, left, right);
@each $space in $spaceamounts {
  .p-#{$space} {
    padding: #{$space}px !important;
  }
 .wpx-#{$space} {
      width: #{$space}px !important;
 }
	@each $side in $sides {
		.m-#{str-slice($side, 0, 1)}-#{$space} {
			margin-#{$side}: #{$space}px !important;
		}
		.p-#{str-slice($side, 0, 1)}-#{$space} {
			padding-#{$side}: #{$space}px !important;
		}
	}
}
@each $profile, $font in $fonts {
	.text-#{$profile}{
		font-family: $font !important;
	}
}
@each $profile, $bgcolor in $gamagrises {
	.text-#{$profile}{
		color: $bgcolor !important;
	}
	.bg-#{$profile}{
		background:$bgcolor  !important;
		border-color:$bgcolor !important;
		color:map-get( $colors, blanco);
		
  }
  
}
@each $profile, $bgcolor in $gamagrises {
  @each $side in $sides {
		.b-#{str-slice($side, 0, 1)}-#{$profile} {
			border-#{$side}-color: #{$bgcolor} !important;
		}
		
	}
 }
@each $profile, $bgcolor in $colors {
@each $side in $sides {
  .b-#{str-slice($side, 0, 1)}-#{$profile} {
    border-#{$side}-color: #{$bgcolor} !important;
  }
  
  }
}

@each $profile, $bgcolor in $colors {
	.bg-#{$profile}{
		background:$bgcolor  !important;
		border-color:$bgcolor !important;
		color:map-get( $colors, blanco);
	}
	.text-#{$profile}{
		color:$bgcolor !important;
	}
	.btn-outline-#{$profile}{
	  color:$bgcolor !important;
	  background: transparent !important;
	  border-color: $bgcolor !important;
	  border-radius: 0px !important;
	  transition: all 0.5s;
	  &:hover{
	  	color:map-get($colors,blanco) !important;
	  	transition: all 0.5s;
		  background:$bgcolor !important ;
	  	border-color: $bgcolor !important;
    }
    
	}
	
	.btn-#{$profile}{
	  color:map-get($colors,blanco);
	  background: $bgcolor !important;
	  border-color: $bgcolor !important;
	  border-radius: 0px !important;
	  transition: all 0.5s;
	  &:hover{
	  	 color:map-get($colors,blanco);
	  	transition: all 0.5s;
		  background:rbga($bgcolor,0.5)!important ;
	  	border-color: $bgcolor !important;
	  }
	}


}
.bg-transparent{
	background: transparent !important;
	border-color: transparent !important;
}


.titulo{
  color:map-get( $colors, secondary);
}
.titulo-card{
  font-family: map-get( $fonts,monse);
  font-size: 1.5rem;
}

.alert-success{
  color:map-get( $colors, blanco);
  border-color:map-get( $colors, succes) !important;
  background-color: map-get( $colors, succes) !important;
} 
.alert-danger{
  color:map-get( $colors, blanco);
  border-color:map-get( $colors, danger) !important;
  background-color: map-get( $colors, danger) !important;
} 
.modal{
  max-height: 100vh;
  overflow: hidden;
  & .modal-body{
    padding: 0px !important;
    max-height: calc(100vh - 164px);
    overflow: auto;
    & input,& textarea,& select{
      border-radius: 0px !important;
      border-color: map-get($colors,black );
    }
    & select{
      appearance: none;
      background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 50%;
    }
  }
  & .modal-header{
    padding: .5rem 1rem !important;
  }
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.m-c-alight-gray{
  padding: 1rem;
   border-left:.5px solid map-get($colors,gary-lte);
   border-right:.5px solid map-get($colors,gary-lte);
   border-bottom:.5px solid map-get($colors,gary-lte);
}
.my-pagination /deep/ .ngx-pagination {
  & a,& button{
      background: map-get($colors,secondary);
      color:map-get($colors,blanco);
      &:hover{
          background: map-get($colors,primary);
      }
  }
  & .current {
      background: map-get($colors,primary);
  }
}

.dropdown-item{
  &:hover{
    color:#fff;
    background: map-get($colors,secondary)
  }
}
ul.ltpreg{
  width: 100%;
  display: block;
  & li{
    list-style: none;
  }
}
.accordion{
  & .card{
    & .card-header{
        border-color:map-get($colors,secondary);
        background: map-get($colors,secondary);
        padding:1px 1px;
        & .btn-link{
          color:#fff;
          background: map-get($colors,secondary);
          text-decoration: none !important;
        }
    }
    & .card-body{
       padding:0px;
       & .list-group{
        width: 100%;
        & .list-group-item{
          cursor: pointer;
        }
       }
    }
  }
  
  
}
.p-fixed{
  position: fixed;
  z-index: 1000;
  
}
.spiner /deep/ .black-overlay{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    top: 0;
    left: 0;
}
.con-principal{
  height: 100%;
}

.spinner{
  position: fixed;
  z-index: 10000;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.fondomodal{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow: auto;
}
.cursor_pointer{
  cursor: pointer;
}
.ray{
  height: 2px;
  background: #ff851b;
}
.menu-reg{
    
  & .ray{
    margin: 0 auto;
    left:0px;
    width: 73%;
    top: 25px;
    position: relative;
    height: 2px ;
    background:map-get($colors,succes);
    
  }
  .paso{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background:map-get($colors,succes);
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    &.active{
      background:map-get($colors,azuladmyo);
    }
    &.desactivate{
      background:#6D6D6D;
    }
  } 
}
