<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand cursor_pointer" (click)='goto("general")'>
    <img src="/assets/img/svg_qval_logo.svg" width="100" height="50" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)='goto("general")'> Panel de Control <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)='goto("encuestas")'>Encuestas</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link"   (click)='goto("grupos")'> Grupos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)='goto("usuarios")'>Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  (click)='goto("clientes")' >Clientes/Proveedores</a>
      </li>
      
      <!--====== <li class="nav-item">
        <a class="nav-link" (click)='goto("resultados")'><i class="fas fa-poll"></i> Resultados</a>
 <li class="nav-item">
          <div class="nav-link"  (click)="salir()">Salir</div>
        </li>      </li>
       <li class="nav-item">
        <a class="nav-link" (click)='goto("encuestas")'>Precios Y Planes</a>
      </li>
      <li class="nav-item">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-primary" id="dropreportes" ngbDropdownToggle >Reportes</button>
          <div ngbDropdownMenu aria-labelledby="dropreportes">
            <button class="dropdown-item"  (click)='goto("addreport")'>Agregar Reporte</button>
            <button class="dropdown-item">Imprimir Reporte</button>
            <button class="dropdown-item">Lista Reportes</button>
          </div>
        </div>
      </li>====-->
    </ul>
    <ul class=" navbar-nav justify-content-end">
        <li class="nav-item">
            <div class="nav-link"  (click)="alert_change_pass = true">Cambiar Contraseña</div>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="https://admyo.com" target="_blank">Admyo</a>
        </li>
        <li class="nav-item">
          <div class="nav-link"  (click)="salir()">Salir</div>
        </li>
       
    </ul>
    <div class="my-2 my-lg-0">
      <div class=" btn btn-primry text-white">
       
      </div>
    </div>
    
  </div>
</nav>
<div class="container-fluid fondomodal" *ngIf="alert_change_pass">
  <div class="container">
      <div class="row">
          <div class="col-6 card m-auto">
            <div class="row">
              <div class="col-12 m-b-20 m-t-20">
                <span class="text-monse"><h5>Cambio de Contraseña</h5></span>
              </div>
              <mat-form-field class="col-12">
                  <input matInput [(ngModel)]="modelcontra.anterior" placeholder="contraseña Anterior" value="">
              </mat-form-field>
              <mat-form-field class="col-12">
                  <input matInput [(ngModel)]="modelcontra.nueva" placeholder="Nueva Contraseña" value="">
              </mat-form-field>
              <mat-form-field class="col-12">
                  <input matInput [(ngModel)]="modelcontra.repetir"  placeholder="Repetir Contraseña" value="">
              </mat-form-field>
              <div class="col-12 text-right p-b-20">
                  <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-outline-danger mr-3" (click)="alert_change_pass = ! alert_change_pass">Cancelar</button>
                      <button type="button" class="btn btn-succes"(click)="cambiar_pas()" >Guardar</button>
                  </div>
              </div>
              <div class="col-12">
                <small classs="text-muted">Nota: La contraseña debe ser mayor a 6 caracteres, debe contener una letra mayúscula, una minúscula, un carácter especial</small>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
