<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)='goto("general")'><i class="fas fa-sitemap"></i> General <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"   (click)='goto("grupos")'><i class="fas fa-layer-group"></i> Grupos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)='goto("usuarios")'><i class="fas fa-user"></i> Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  (click)='goto("clientes")' ><i class="fas fa-user-tie"></i> Clientes/Proveedores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)='goto("cuestionarios")'><i class="fas fa-question-circle"></i> Cuestionarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)='goto("preguntas")'><i class="fas fa-file"></i> Preguntas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)='goto("resultados")'><i class="fas fa-poll"></i> Resultados</a>
      </li>
      <!--====== 
      <li class="nav-item">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-primary" id="dropreportes" ngbDropdownToggle >Reportes</button>
          <div ngbDropdownMenu aria-labelledby="dropreportes">
            <button class="dropdown-item"  (click)='goto("addreport")'>Agregar Reporte</button>
            <button class="dropdown-item">Imprimir Reporte</button>
            <button class="dropdown-item">Lista Reportes</button>
          </div>
        </div>
      </li>====-->
      <li class="nav-item">
        <a class="nav-link" href="https://admyo.com" target="_blank">Admyo</a>
      </li>
      <li class="nav-item">
        <div class="nav-link"  (click)="salir()">Salir</div>
      </li>
      
    </ul>
    <div class="my-2 my-lg-0">
      <div class=" btn btn-primry text-white">
       
      </div>
    </div>
    
  </div>
</nav>