@import '../../../styles';

.dat-gen{
    & hr{
        height: 2px;
        width: 90%;
        margin: 10px auto;
    }
    & .cont-gen{
    position: relative;
    top:0;
    left: 0;
    display: block;
    width: 100%;;
    border:1px solid map-get($colors, gary-lte );
    & .banner{
        position: relative;
        top:0px;
        left: 0px;
        width: 100%;
        height: 200px;
        background-color: #fff;
        background-image: url('/src/assets/img/bg_second.jpg');
        background-repeat: no-repeat ;
        background-position: center center;
        background-size: cover !important;
        background-attachment:initial ;
    }
    & .img-redon{
        position: absolute;
        top:100px;
        left:50px;
        width: 152px;
        height: 152px;
        border:4px solid #fff;
        box-sizing: border-box;
        border-radius: 50%!important;
        background-color: #fff;
        background-image: url('/src/assets/img/foto-no-disponible.jpg'); 
        background-repeat: no-repeat ;
        background-position: center center;
        background-size: cover !important;
        background-attachment: initial;

    }
  & .edit-datgen{
      font-size:1.5rem;
      color:map-get($colors ,primary);
  }
  & .datos-usuariog{
      & h4,& h6,& span,& p{
          color:map-get($colors, light-gray);
      }
      & span:hover{
        color:map-get($colors, primary );
        cursor: pointer;
      }

  }
  & .datos-generales{
    & h4,& h6,& span,& p{
        color:map-get($colors, light-gray);
    }
    & span:hover{
      color:map-get($colors, primary );
      cursor: pointer;
    } 
  }
}
}
.panel{
    padding-top: 15px;
    padding-bottom: 15px;
    .card{
        
        & .card-body{
            & .card-title,& .card-subtitle{
               text-align: center;
               color: map-get($colors, blanco )
            }
        }
    }
}