<div class="container-fluid ">
  <div class="row ">
    <div class="col-12 dat-gen m-t-30 ">
      <div class="cont-gen">
        <div class="banner" [ngStyle]="{'background-image': 'url('+ rut+'assets/img/bannerempresa/'  + Banner + ')'}">
            
        </div>  
        <div class="img-redon" [ngStyle]="{'background-image': 'url('+ rut+'assets/img/logoempresa/' + Logoempresa + ')'}"></div>
        <div class="container-fluid">
          <div class="row">
              
              <div class="col-7 datos-usuariog">
                <div class="row">
                  <div class="col-12">
                    <h4>{{nombreus}} {{apellidos}}</h4>
                  </div>
                  <div class="col-12">
                      <p>{{puesto}}</p>
                  </div>
                  <div class="col-12">
                      <p>{{correo}}</p>
                  </div>
                  <div class="col-12">
                      <button class="btn btn-primary text-white" (click)="open(content)"><i class="fas fa-pen"></i> Editar Datos</button>
                  </div>
                </div>
              </div>
              <div class="col-5 datos-generales">
                <div class="row">
                  <div class="col-12">
                      <p><i class="fas fa-building"></i> {{razon_social}}</p>
                  </div>
                  <div class="col-12">
                      <p><i class="fas fa-globe-americas"></i> {{nombre_comercial}}</p>
                   </div>
                   <div class="col-12">
                     <p><i class="fas fa-users"></i> No de Empleados: {{nempleados}}</p>
                   </div>
                   <div class="col-12">

                      <button class="btn btn-primary text-white" (click)="open(datsem)"><i class="fas fa-pen"></i> Editar Datos</button>
                   </div>
                </div>
              </div>
              <hr class="m-t-30 m-b-30">
              <div class="col-12 text-center">
               {{perfile}}
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 m-t-40">
      <div class="card  panel bg-primary">
          <div class="container">
            <div class="row d-flex justify-content-center">
              <div class="col-4 m-t-20 ">
                <div class="card bg-orange " (click)='goto("usuarios")'>
                    <div class="card-body">
                        <h6 class="card-title">Usuarios</h6>
                        <h6 class="card-subtitle mb-2">{{nousaurios}}</h6>
                    </div>
                </div>
              </div>
              <div class="col-4 m-t-20">
                  <div class="card bg-orange" (click)='goto("clientes")'>
                      <div class="card-body">
                          <h6 class="card-title">Clientes/Proveedores</h6>
                          <h6 class="card-subtitle mb-2">{{noclientes}}</h6>
                      </div>
                  </div>
                </div>
                <div class="col-4 m-t-20">
                    <div class="card bg-orange" (click)='goto("cuestionarios")'>
                        <div class="card-body">
                            <h6 class="card-title">Cuestionarios</h6>
                            <h6 class="card-subtitle mb-2">{{nocuestionario}}</h6>
                        </div>
                    </div>
                  </div>
                  <div class="col-4 m-t-20">
                      <div class="card bg-orange" (click)='goto("preguntas")'>
                          <div class="card-body">
                              <h6 class="card-title">Preguntas</h6>
                              <h6 class="card-subtitle mb-2">{{nopreguntas}}</h6>
                          </div>
                      </div>
                    </div>
                    <div class="col-4 m-t-20">
                        <div class="card bg-orange" (click)='goto("grupos")'>
                            <div class="card-body">
                                <h6 class="card-title">Grupos</h6>
                                <h6 class="card-subtitle mb-2">{{nogrupo}}</h6>
                            </div>
                        </div>
                      </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
        <div class="fixed-top alert alert-danger alert-dismissible fade alert-datosus w-50 mx-auto" role="alert">
                <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Editar Datos Personales</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
       <div class="dat-gen">
            <div class="cont-gen">
                <div class="banner" [ngStyle]="{'background-image': 'url('+ rut+'assets/img/bannerempresa/' + Banner + ')'}">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 text-right m-t-20">
                                <button (click)="inputbanner.click()" class="btn btn-light text-primary btn-circle"><i class="fas fa-pen"></i></button>
                                <input style="display:none;" type="file" #inputbanner (change)="cargabanner($event)">
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="img-redon" [ngStyle]="{'background-image': 'url('+ rut+'assets/img/logoempresa/' + Logoempresa + ')'}">
                        <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12 text-right m-t-20">
                                        <button  (click)="inputlogo.click()" class="btn btn-light text-primary btn-circle"><i class="fas fa-pen"></i></button>
                                        <input style="display:none;" type="file" #inputlogo (change)="cargalogo($event)">
                                    </div>
                                </div>
                            </div>
                </div>
                <div class="container-fluid m-t-40">
                    <form class="row">
                        <div class="col-6">
                            <div class="form-group">
                              <label for="">Nombre *</label>
                              <input type="text"
                                  class="form-control" name="nombre" [(ngModel)]="nombreus"  aria-describedby="" placeholder="Nombre">
                            </div>
                        </div>  
                        <div class="col-6">
                            <div class="form-group">
                                <label for="">Apellidos *</label>
                                <input type="text"
                                      class="form-control" name="apellidos" [(ngModel)]="apellidos"  aria-describedby="" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="col-6">
                                <div class="form-group">
                                    <label for="">Correo Electronico *</label>
                                    <input type="text"
                                          class="form-control" name="correo" [(ngModel)]="correo"  aria-describedby="" placeholder="Correo Electronico">
                                </div>
                        </div>
                        <div class="col-6">
                                <div class="form-group">
                                    <label for="">Puesto *</label>
                                    <input type="text"
                                          class="form-control" name="puesto" [(ngModel)]="puesto"  aria-describedby="" placeholder="Puesto">
                                </div>
                        </div> 
                    </form>
                </div>
            </div>
        </div> 
    </div>
    <div class="modal-footer">
       <button (click)="modal.close()" class="btn btn-danger mr-3">Cerrar</button>
      <button type="button" (click)="updatedataus()" class="btn btn-outline-primary">Guardar</button>
    </div>
</ng-template>
<ng-template #datsem let-modal>
        <div class="fixed-top alert alert-danger alert-dismissible fade alert-datosgen w-50 mx-auto" role="alert">
                <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
    <form  [formGroup]="registerForm"  (ngSubmit)="guardar_datos_empresa(registerForm)">    
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Editar Datos Empresa</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div  class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            Datos Generales
                        </div>
                        <div class="card-body">
                            <div class="row">
                                    <div class="col-12">
                                            <div class="form-group">
                                                <label for="">Razón Social *</label>
                                                <input type="text" class="form-control" formControlName="razon_social" [(ngModel)]="razon_social"  aria-describedby="" placeholder="Razón Social">
                                            </div>
                                    </div>
                                    <div class="col-6">
                                                <div class="form-group">
                                                    <label for="">Nombre Comercial *</label>
                                                    <input type="text"
                                                              class="form-control" formControlName="nombre_comercial" [(ngModel)]="nombre_comercial"  aria-describedby="" placeholder="Razon Social">
                                                </div>
                                        </div>
                                        <div class="col-6">
                                                <div class="form-group">
                                                    <label for="">R.F.C. *</label>
                                                    <input type="text"
                                                                  class="form-control" formControlName="rfc" [(ngModel)]="r_f_c"   aria-describedby="" placeholder="Razon Social">
                                                </div>
                                        </div>
                                        <div class="col-6">
                                                <div class="form-group">
                                                    <label for="">Tipo Empresa</label>
                                                    <select class="form-control" formControlName="tem" [(ngModel)]="tem" >
                                                            <option [value]='value.TipoEmpresa' *ngFor="let value of TipoEmpresa">{{value.TipoEmpresa}}</option>
                                                    </select>
                                                </div>
                                        </div>
                                        <div class="col-6">
                                                <div class="form-group">
                                                    <label for="">No de Empleados</label>
                                                    <select class="form-control" formControlName="nempleados" [(ngModel)]="nempleados" >
                                                            <option [value]='value.Empleados' *ngFor="let value of NoEmpleados">{{value.Empleados}}</option>
                                                    </select>
                                                </div>
                                        </div>
                                        <div class="col-6">
                                                <div class="form-group">
                                                    <label for="">Facturación Anual</label>
                                                    <select class="form-control" formControlName="facanual" [(ngModel)]="facanual">
                                                        <option [value]='value.Facturacion' *ngFor="let value of FacAnual">{{value.Facturacion}}</option>
                                                    </select>
                                                </div>
                                        </div>
                                        <div class="col-6">
                                                <div class="form-group">
                                                    <label for="">Telefono</label>
                                                    <input type="text"
                                                                  class="form-control" formControlName="tel" [(ngModel)]="tel"   aria-describedby="" placeholder="Razon Social">
                                                </div>
                                        </div>
                                        <div class="col-12">
                                                <div class="form-group">
                                                    <label for="">Descripción de la empresa</label>
                                                    <textarea col="10" row="20" class="form-control" [(ngModel)]="perfile"  formControlName="perfile" ></textarea>
                                                </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 m-t-20">
                        <div class="card">
                            <div class="card-header bg-primary text-white">
                                Datos de Contacto
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="">Calle y Numero *</label>
                                            <input type="text"
                                                                  class="form-control" formControlName="calle" [(ngModel)]="calle"    aria-describedby="" placeholder="Calle y Número">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="">Municipio *</label>
                                            <input type="text"
                                                                  class="form-control" formControlName="municipio" [(ngModel)]="municipio"   aria-describedby="" placeholder="Municipio">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="">Colonia *</label>
                                            <input type="text"
                                                                  class="form-control" formControlName="colonia" [(ngModel)]="colonia"   aria-describedby="" placeholder="Colonia">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="">Estado *</label>
                                            <select  class="form-control" formControlName="estado"  aria-describedby="" [(ngModel)]="estado"  placeholder="Estado">
                                                <option [value]='Estado.estadonombre' *ngFor="let Estado of Estados">
                                                    {{Estado.estadonombre}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="">Código Postal *</label>
                                            <input type="text"
                                                                  class="form-control" formControlName="cp"  [(ngModel)]="cp" aria-describedby="" placeholder="Código Postal">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
       <button (click)="modal.close()" class="btn btn-danger mr-3">Cerrar</button>
            <input type="submit" class="btn btn-outline-primary" value="Guardar">
    </div>
</form>
</ng-template>
<ngx-spinner class="spiner" bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-clip-rotate-multiple">
<p style="font-size: 20px; color: white">Loading...</p></ngx-spinner>
